
.form-control {
  border: 1px solid #ccc;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding: 8px;
}

.form-control:focus {
  outline: none; /* Odaklanma durumunda varsayılan outline kaldırılıyor */
}

.error-message {
  color: #ff0000;
  font-size: 14px;
}

#password-toggle {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

#password-toggle .icon {
  width: 24px; /* SVG genişliği */
  height: 24px; /* SVG yüksekliği */
  fill: #6b7280; /* SVG rengi */
}

#password-toggle .icon:hover {
  fill: #374151; /* Hover durumu için SVG rengi */
}