<div class="relative flex ">
  <img loading="lazy" src="/assets/img/fixed-top.svg" class="mt-4" style="z-index: 0;" />

  <div class="flex flex-col ml-40 absolute top-8  2xl:ml-60 2xl:mt-8" style="z-index: 1;">
    <div class="text-2xl font-bold text-slate-900 2xl:text-4xl">
      Öğrenci Girişi
    </div>
    <div class="flex gap-3 mt-2 text-base leading-7 whitespace-nowrap font-semibold">
      <div class="text-indigo-950">Ana Sayfa</div>
      <div class="text-gray-400 text-xl">></div>
      <div class="text-indigo-600">Giriş Yap</div>
    </div>
  </div>
</div>


<div class="flex justify-center mt-16 mb-32">
  <div
    class="flex flex-col justify-center px-12 pt-8 pb-12 text-base rounded-lg border border-solid bg-slate-50 border-neutral-200 max-w-[690px] max-md:px-5">
    <div class="text-4xl font-bold leading-10 text-slate-900 max-md:max-w-full">
      Tekrar Hoşgeldin!
    </div>
    <div class="mt-4 leading-7 text-gray-500 max-md:max-w-full">
      Merhaba! Seni yeniden aramızda gördüğümüz için mutluyuz.
      <br />
      Email ve şifreni aşağıdaki alana gir, kaldığımız yerden devam edelim!
    </div>
    <div class="mt-4 text-lg font-bold leading-5 text-slate-900 max-md:mt-10 max-md:max-w-full">
      Email
    </div>
    <input type="text" placeholder="Email yazınız  . . ."
      class="justify-center items-start px-5 py-3 mt-2.5 text-gray-500  whitespace-nowrap bg-white rounded-md border border-solid border-neutral-200 max-md:px-5 max-md:max-w-full" />

    <div class="mt-6 text-lg font-bold leading-5 text-slate-900 max-md:max-w-full">
      Şifre
    </div>
    <input type="text" placeholder="Şifre yazınız  . . ."
      class="justify-center items-start px-4 py-3 mt-2.5 text-gray-500  whitespace-nowrap bg-white rounded-md border border-solid border-neutral-200 max-md:px-5 max-md:max-w-full"
      password />
    <div class="flex gap-4 mt-5 w-full max-md:max-w-full font-semibold ">
      <div class="flex flex-1 gap-2 leading-7 text-slate-900">
        <input id="remember" aria-describedby="remember" type="checkbox" class="shrink-0 my-auto w-5 h-5 bg-white rounded border border-solid border-zinc-200 
        text-purple-700  focus:ring-purple-700 " />
        <div>Beni Hatırla</div>
      </div>
      <button class=" self-end my-auto text-indigo-600 underline leading-[175%]">
        Şifremi Unuttum?
      </button>
    </div>
    <button
      class="flex justify-center items-center px-16 py-5 mt-8 font-bold text-center text-black capitalize bg-amber-400 border-2 border-black border-solid shadow-sm leading-[112%] rounded-[50px] max-md:px-5 max-md:mt-10 max-md:max-w-full"
      style="box-shadow: 8.799px 8.799px 0px 0px black;">
      <div class="flex gap-3">
        <div>Giriş Yap</div>
        <img loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/042c3f9a651c2b1eae7825fd1100879eaf3636be8252209c044142f88ba45892?apiKey=d64f73725dfb4ccb8c714d58677398b5&"
          class="shrink-0 self-start aspect-[1.08] w-[15px]" />
      </div>
    </button>
    <div class="flex gap-2 self-center mt-10 leading-[175%]">
      <div class="grow text-gray-500">Henüz bir hesabın yok mu?</div>
      <button class="text-indigo-600 underline font-semibold">Kayıt Ol</button>
    </div>
  </div>
</div>


