<div class="relative flex">
  <div class="flex flex-col">
    <img loading="lazy" src="/assets/img/fixed-top.svg" class="mt-4" style="z-index: 0" />
    <img loading="lazy" src="/assets/img/fixed-top.svg" class="lg:hidden" style="z-index: 0" />
    <img loading="lazy" src="/assets/img/fixed-top.svg" class=" sm:hidden" style="z-index: 0" />
  </div>
  <div class="flex flex-col ml-36 -mt-4 2xl:mt-2 2xl:ml-60 max-w-full w-[274px] max-md:ml-2.5 absolute top-12"
    style="z-index: 1">
    <div class="text-3xl font-bold leading-10 text-indigo-950">
      Öğrenci Giriş
    </div>
    <div class="flex gap-3 mt-2 text-base leading-7 whitespace-nowrap font-semibold">
      <div class="text-indigo-950">Ana Sayfa</div>
      <div class="text-gray-400 text-xl">></div>
      <div class="text-indigo-600">Giriş Yap</div>
    </div>
  </div>
</div>


<form [formGroup]="loginForm">
  <div class="flex justify-center mt-16 mb-32">
    <div
      class="flex flex-col justify-center px-12 pt-8 pb-12 text-base rounded-lg border border-solid bg-slate-50 border-neutral-200 max-w-[690px] max-md:px-5">
      <div class="text-4xl font-bold leading-10 text-slate-900 max-md:max-w-full">
        Tekrar Hoşgeldin!
      </div>
      <div class="mt-4 leading-7 text-gray-500 max-md:max-w-full">
        Merhaba! Seni yeniden aramızda gördüğümüz için mutluyuz.
        <br />
        Email ve şifreni aşağıdaki alana gir, kaldığımız yerden devam edelim!
      </div>
      <div class="mt-4 text-lg font-bold leading-5 text-slate-900 max-md:mt-10 max-md:max-w-full ">
        <label for="email"> Email</label>
      </div>
      <input formControlName="email" type="email" id="email" placeholder="Email yazınız  . . ." autocomplete="email"
        class="form-control justify-center  outline-none items-start px-5 py-3 mt-2.5 text-gray-500  whitespace-nowrap bg-white rounded-md border border-solid border-neutral-200 max-md:px-5 max-md:max-w-full"
        required="" />

      <div *ngIf="submitted && loginForm.get('email').invalid" class="error-message">
        <div *ngIf="loginForm.get('email').hasError('required')">
          Bu alan zorunludur!
        </div>
        <div *ngIf="loginForm.get('email').hasError('email')">
          Lütfen geçerli bir email adresi giriniz!
        </div>
      </div>
      <div class="mt-6 text-lg font-bold leading-5 text-slate-900 max-md:max-w-full">
        <label for="password">Şifre</label>
      </div>
      <div class="relative flex items-center">
        <input formControlName="password" [type]="passwordFieldType" id="password" placeholder="Şifre yazınız . . ."
          class="form-control flex-grow outline-none px-5 py-3 mt-2.5 text-gray-500 bg-white rounded-md border border-solid border-neutral-200"
          autocomplete="current-password" />
        <button type="button" (click)="togglePasswordVisibility()" id="password-toggle" class="absolute right-4 mt-2.5">
          <svg *ngIf="passwordFieldType === 'password'" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
            viewBox="0 0 24 24" fill="currentColor">
            <path
              d="M12 3C7 3 2.7 7.1 1 12c1.7 4.9 6 9 11 9s9.3-4.1 11-9c-1.7-4.9-6-9-11-9zm0 16c-3.9 0-7.2-2.8-8.7-7 1.5-4.2 4.8-7 8.7-7s7.2 2.8 8.7 7c-1.5 4.2-4.8 7-8.7 7zm0-11c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zm0 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z" />
          </svg>
          <svg *ngIf="passwordFieldType === 'text'" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
            viewBox="0 0 24 24" fill="currentColor">
            <path
              d="M12 5c5.2 0 9.6 3.6 11 8-1.4 4.4-5.8 8-11 8s-9.6-3.6-11-8c1.4-4.4 5.8-8 11-8zm0-2C6.5 3 1.9 7.1.3 12.1c-.1.2-.1.4 0 .6C1.9 16.9 6.5 21 12 21s10.1-4.1 11.7-8.9c.1-.2.1-.4 0-.6C22.1 7.1 17.5 3 12 3zm0 13c-2.2 0-4-1.8-4-4s1.8-4 4-4 4 1.8 4 4-1.8 4-4 4zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
          </svg>
        </button>
      </div>

      <div *ngIf="submitted && loginForm.get('password').invalid" class="error-message">
        <div *ngIf="loginForm.get('password').hasError('required')">
          Bu alan zorunludur!
        </div>
      </div>
      <div class="flex gap-4 mt-5 w-full max-md:max-w-full font-semibold ">

        <div class="flex flex-1 gap-2 leading-7 text-slate-900">
          <input id="remember" aria-describedby="remember" type="checkbox" class="shrink-0 my-auto w-5 h-5 bg-white rounded border border-solid border-zinc-200 
        text-purple-700  focus:ring-purple-700 " />
          <div>Beni Hatırla</div>
        </div>
        <button class=" self-end my-auto text-indigo-600 underline leading-[175%]">
          Şifremi Unuttum?
        </button>
      </div>
      <button (click)="login()"
        class="flex justify-center items-center px-16 py-5 mt-8 font-bold text-center text-black capitalize bg-amber-400 border-2 border-black border-solid shadow-sm leading-[112%] rounded-[50px] max-md:px-5 max-md:mt-10 max-md:max-w-full hover:brightness-110"
        style="box-shadow: 8.799px 8.799px 0px 0px black;">
        <div class="flex gap-3">
          <div>Giriş Yap</div>
          <img loading="lazy" src="/assets/img/for-all-butons.svg" />
        </div>
      </button>
      <div class="flex gap-2 self-center mt-10 leading-[175%]">
        <div class="grow text-gray-500">Henüz bir hesabın yok mu?</div>
        <button routerLink="/register" class="text-indigo-600 underline font-semibold">Kayıt Ol</button>
      </div>
    </div>
  </div>
</form>