<div class="relative flex">
  <img loading="lazy" src="/assets/img/fixed-top.svg" class="mt-4" style="z-index: 0" />

  <div class="flex flex-col ml-36 -mt-4 2xl:mt-2 2xl:ml-60 max-w-full w-[274px] max-md:ml-2.5 absolute top-12"
    style="z-index: 1">
    <div class="text-3xl font-bold leading-10 text-indigo-950">
      Öğrenci Giriş
    </div>
    <div class="flex gap-3 mt-2 text-base leading-7 whitespace-nowrap font-semibold">
      <div class="text-indigo-950">Ana Sayfa</div>
      <div class="text-gray-400 text-xl">></div>
      <div class="text-indigo-600">Giriş Yap</div>
    </div>
  </div>
</div>


<form [formGroup]="loginForm">
  <div class="flex justify-center mt-16 mb-32">
    <div
      class="flex flex-col justify-center px-12 pt-8 pb-12 text-base rounded-lg border border-solid bg-slate-50 border-neutral-200 max-w-[690px] max-md:px-5">
      <div class="text-4xl font-bold leading-10 text-slate-900 max-md:max-w-full">
        Tekrar Hoşgeldin!
      </div>
      <div class="mt-4 leading-7 text-gray-500 max-md:max-w-full">
        Merhaba! Seni yeniden aramızda gördüğümüz için mutluyuz.
        <br />
        Email ve şifreni aşağıdaki alana gir, kaldığımız yerden devam edelim!
      </div>
      <div class="mt-4 text-lg font-bold leading-5 text-slate-900 max-md:mt-10 max-md:max-w-full ">
        <label for="email"> Email</label>
      </div>
      <input formControlName="email" type="email" id="email" placeholder="Email yazınız  . . ." autocomplete="email"
        class="justify-center  outline-none items-start px-5 py-3 mt-2.5 text-gray-500  whitespace-nowrap bg-white rounded-md border border-solid border-neutral-200 max-md:px-5 max-md:max-w-full"
        required="" />
      <div *ngIf="submitted && formControls['email'].errors" class="text-red-500 mt-2">
        <div *ngIf="formControls['email'].hasOwnProperty('errors') && formControls['email'].errors?.['required']">Email
          gerekli.</div>
        <div *ngIf="formControls['email'].hasOwnProperty('errors') && formControls['email'].errors?.['email']">Geçerli
          bir email adresi girin.</div>
      </div>
      <div class="mt-6 text-lg font-bold leading-5 text-slate-900 max-md:max-w-full">
        <label for="password"> Şifre </label>
      </div>
      <input formControlName="password" type="password" id="password" placeholder="Şifre yazınız  . . ."
        class="justify-center  items-start px-4 py-3 mt-2.5 text-gray-500  whitespace-nowrap bg-white rounded-md border border-solid border-neutral-200 max-md:px-5 max-md:max-w-full"
        autocomplete="current-password" />
      <div *ngIf="submitted && formControls['password'].errors" class="text-red-500 mt-2">
        <div *ngIf="formControls['password'].hasOwnProperty('errors') && formControls['password'].errors?.['required']">
          Şifre gerekli.</div>
        <div
          *ngIf="formControls['password'].hasOwnProperty('errors') && formControls['password'].errors?.['minlength']">
          Şifre en az 4 karakter olmalı.</div>
      </div>
      <div class="flex gap-4 mt-5 w-full max-md:max-w-full font-semibold ">
        <div class="flex flex-1 gap-2 leading-7 text-slate-900">
          <input id="remember" aria-describedby="remember" type="checkbox" class="shrink-0 my-auto w-5 h-5 bg-white rounded border border-solid border-zinc-200 
        text-purple-700  focus:ring-purple-700 " />
          <div>Beni Hatırla</div>
        </div>
        <button class=" self-end my-auto text-indigo-600 underline leading-[175%]">
          Şifremi Unuttum?
        </button>
      </div>
      <button (click)="login()"
        class="flex justify-center items-center px-16 py-5 mt-8 font-bold text-center text-black capitalize bg-amber-400 border-2 border-black border-solid shadow-sm leading-[112%] rounded-[50px] max-md:px-5 max-md:mt-10 max-md:max-w-full hover:brightness-110"
        style="box-shadow: 8.799px 8.799px 0px 0px black;">
        <div class="flex gap-3">
          <div>Giriş Yap</div>
          <img loading="lazy" src="/assets/img/for-all-butons.svg" />
        </div>
      </button>
      <div class="flex gap-2 self-center mt-10 leading-[175%]">
        <div class="grow text-gray-500">Henüz bir hesabın yok mu?</div>
        <button routerLink="/register" class="text-indigo-600 underline font-semibold">Kayıt Ol</button>
      </div>
    </div>
  </div>
</form>