<div class="relative flex">
  <img loading="lazy" src="/assets/img/fixed-top.svg" class="mt-4" style="z-index: 0;" />

  <div class="flex flex-row ml-60 absolute top-16 gap-3 mt-2 text-base leading-7 whitespace-nowrap font-semibold"
    tyle="z-index: 1;">
    <div class="text-indigo-950">Ana Sayfa</div>
    <div class="text-gray-400 text-xl">></div>
    <div class="text-indigo-950">Bootcamp</div>
    <div class="text-gray-400 text-xl">></div>
    <div class="text-indigo-600"> BootcampName</div>
  </div>
</div>

<div *ngIf="isPassed === null" class="flex flex-row mx-20 justify-between mb-16 ">
  <div class="text-3xl font-bold mt-16  lg:text-4xl">
    BootcampName
  </div>
  <div
    class="flex mt-20 px-7 pt-3.5 pb-5 mb-0.5  text-3xl font-semibold leading-7 border-2 border-solid border-blue-950 border-opacity-20 max-w-[397px] rounded-[77.221px] text-slate-900">
    <div class="flex gap-2.5">
      <img loading="lazy" src="/assets/img/quiz-time-icon.png" class="aspect-square w-[41px]" />
      <div class="my-auto">Kalan Süre: {{timer}}</div>
    </div>
  </div>
</div>
<div *ngIf="isPassed === true">
  <div class="flex flex-row justify-between mx-20 mt-12 2xl:mx-60">
    <div class="flex flex-row">
      <img loading="lazy" src="/assets/img/confetti.svg" />
      <div class="self-center  ml-1 text-4xl font-bold text-indigo-900">Tebrikler, sınavı geçtiniz!</div>
    </div>
    <div class="flex flex-row">
      <img loading="lazy" src="/assets/img/calculator.svg" />
      <div class="self-center ml-2 text-3xl font-bold text-indigo-900">Skor:<span class="ml-1">{{score}}</span>/100
      </div>
    </div>
  </div>
  <div class="flex text-xl font-semibold text-indigo-900 ml-44  mb-20 2xl:ml-80">
    Sertifikanızı hemen oluşturabilirsiniz!
  </div>
</div>
<div *ngIf="isPassed === false">
  <div class="flex flex-row justify-between mx-20 mt-12 2xl:mx-60">
    <div class="flex flex-row">
      <img loading="lazy" src="/assets/img/sad-face.svg" />
      <div class="self-center  ml-1 text-4xl font-bold text-indigo-900">Üzgünüz, sınavı geçemediniz!</div>
    </div>
    <div class="flex flex-row">
      <img loading="lazy" src="/assets/img/calculator.svg" />
      <div class="self-center ml-2 text-3xl font-bold text-indigo-900">Skor:<span class="ml-1">{{score}}</span>/100
      </div>
    </div>
  </div>
  <div class="flex text-xl font-semibold text-indigo-900 ml-44  mb-20 2xl:ml-80">Sınava yeniden girebilirsiniz!</div>
</div>

<form #resultForm="ngForm" (ngSubmit)="finishQuiz(resultForm)" novalidate>
  <div class="border-2 border-solid border-blue-950 border-opacity-20 ml-20 mr-20 px-12 pb-20 ">
    <!--tüm soruların içinde olduğu sayfa açılış-->

    <ng-container *ngFor="let questionResponse of questions; let i = index">
      <!--1 tane soru ve cevapları açılış-->
      <div class="flex flex-col">
        <div class="flex flex-wrap font-bold gap-4 lg:text-2xl mt-8 mb-6">
          <p>{{ i + 1 }}.</p>{{ questionResponse.text }}
        </div>

        <div class="flex flex-col gap-3 pl-6">
          <div class="flex gap-4" [ngClass]="{
              'bg-[#34C759]': isPassed !== null && questionResults[questionResponse.id].correctAnswer === 'A',
              'bg-[#FF0000]': isPassed !== null && questionResults[questionResponse.id].correctAnswer !== 'A' && questionResults[questionResponse.id].studentAnswer === 'A',
            }">
            <input [disabled]="isPassed!==null" type="radio" id="option1_{{ questionResponse.id }}"
              name="question_{{ questionResponse.id }}" value="A" #answerA="ngModel" ngModel required
              class="focus:ring-indigo-500 h-6 w-6 text-indigo-600 border-gray-300">
            <label for="option1_{{ questionResponse.id }}"
              class="text-xl leading-5 text-indigo-950">{{questionResponse.answerA}}</label>
          </div>
          <div class="flex gap-4" [ngClass]="{
              'bg-[#34C759]': isPassed !== null && questionResults[questionResponse.id].correctAnswer === 'B',
              'bg-[#FF0000]': isPassed !== null && questionResults[questionResponse.id].correctAnswer !== 'B' && questionResults[questionResponse.id].studentAnswer === 'B',
            }">
            <input [disabled]="isPassed!==null" type="radio" id="option2_{{ questionResponse.id }}"
              name="question_{{ questionResponse.id }}" value="B" #answerB="ngModel" ngModel required
              class="focus:ring-indigo-500 h-6 w-6 text-indigo-600 border-gray-300">
            <label for="option2_{{ questionResponse.id }}"
              class="text-xl leading-5 text-indigo-950">{{questionResponse.answerB}}</label>
          </div>
          <div class="flex gap-4" [ngClass]="{
              'bg-[#34C759]': isPassed !== null && questionResults[questionResponse.id].correctAnswer === 'C',
              'bg-[#FF0000]': isPassed !== null && questionResults[questionResponse.id].correctAnswer !== 'C' && questionResults[questionResponse.id].studentAnswer === 'C',
            }">
            <input [disabled]="isPassed!==null" type="radio" id="option3_{{ questionResponse.id }}"
              name="question_{{ questionResponse.id }}" value="C" #answerC="ngModel" ngModel required
              class="focus:ring-indigo-500 h-6 w-6 text-indigo-600 border-gray-300">
            <label for="option3_{{ questionResponse.id }}"
              class="text-xl leading-5 text-indigo-950">{{questionResponse.answerC }}</label>
          </div>
          <div class="flex gap-4" [ngClass]="{
              'bg-[#34C759]': isPassed !== null && questionResults[questionResponse.id].correctAnswer === 'D',
              'bg-[#FF0000]': isPassed !== null && questionResults[questionResponse.id].correctAnswer !== 'D' && questionResults[questionResponse.id].studentAnswer === 'D',
            }">
            <input [disabled]="isPassed!==null" type="radio" id="option4_{{ questionResponse.id }}"
              name="question_{{ questionResponse.id }}" value="D" #answerD="ngModel" ngModel required
              class="focus:ring-indigo-500 h-6 w-6 text-indigo-600 border-gray-300">
            <label for="option4_{{ questionResponse.id }}"
              class="text-xl leading-5 text-indigo-950">{{questionResponse.answerD }}</label>
          </div>
        </div>
        <!--1 tane soru ve cevapları kapanış-->
      </div>
    </ng-container>

  </div><!--tüm soruların içinde olduğu sayfa kapanış-->


  <div *ngIf="isPassed === null" class="flex flex-row-reverse mr-20 mt-16">
    <button type="submit"
      class="flex justify-center items-center px-10 py-4 mt-8 font-bold text-center text-black capitalize bg-amber-400 border-2 border-black border-solid shadow-sm leading-[112%] rounded-[50px] max-md:px-5 max-md:mt-6 max-md:max-w-full"
      style="box-shadow: 8.799px 8.799px 0px 0px black;">
      <div class="flex gap-3 text-xl">
        <div>Sınavı Bitir!</div>
        <img loading="lazy" src="/assets/img/for-all-butons.svg" class=" self-center w-[25px]" />
      </div>
    </button>
  </div>
</form>

<div *ngIf="isPassed === true" class="flex flex-row-reverse mr-20 mt-16">
  <button (click)="createCertificate()"
    class="flex justify-center items-center px-10 py-4 mt-8 font-bold text-center text-black capitalize bg-amber-400 border-2 border-black border-solid shadow-sm leading-[112%] rounded-[50px] max-md:px-5 max-md:mt-6 max-md:max-w-full"
    style="box-shadow: 8.799px 8.799px 0px 0px black;">
    <div class="flex gap-3 text-xl">
      <div>Sertifika Oluştur</div>
      <img loading="lazy" src="/assets/img/for-all-butons.svg" class=" self-center aspect-[1.08] w-[20px]" />
    </div>
  </button>
</div>

<div *ngIf="isPassed === false" class="flex flex-row-reverse mr-20 mt-16">
  <button (click)="retakeQuiz(createdQuiz.bootcampId)" type="submit"
    class="flex justify-center items-center px-10 py-4 mt-8 font-bold text-center text-black capitalize bg-amber-400 border-2 border-black border-solid shadow-sm leading-[112%] rounded-[50px] max-md:px-5 max-md:mt-6 max-md:max-w-full"
    style="box-shadow: 8.799px 8.799px 0px 0px black;">
    <div class="flex gap-3 text-xl">
      <div>Yeniden Sınava Gir</div>
      <img loading="lazy" src="/assets/img/for-all-butons.svg" class=" self-center aspect-[1.08] w-[20px]" />
    </div>
  </button>
</div>