<div
  class="relative bg-[url('https://cdn.builder.io/api/v1/image/assets/TEMP/c0fa249724da3c368f49bfef925cae0b09a982a57ee86fc9f398d3782e0a50ab?apiKey=d64f73725dfb4ccb8c714d58677398b5')]"
>
  <img
    loading="lazy"
    src="/assets/img/homepage-illustration-1.svg"
    class="absolute z-10 inset-y-0 aspect-[1.11] w-[257px]"
  />
  <div
    class="flex flex-row justify-around lg:flex-row  justify-center overflow-hidden min-h-[450px]"
  >
    <div class="z-20 ml-40 mt-8 2xl:px-5 max-w-[493px]"  style="font-family: 'Poppins', sans-serif;">
      <div
        class="flex flex-col md:mt-16 lg:mt-16 w-full text-3xl font-semibold leading-[40px] text-slate-900"
      >
        <div class="flex flex-row gap-2">
          <span>Never Stop</span>
          <span
            class="flex bg-amber-400 w-30 rounded-lg align-center justify-center text-center text-white font-extrabold"
          >
            Learning
          </span>
        </div>

        <div
          class="flex flex-col align-center text-center md:flex-row lg:flex-row gap-2"
        >
          <span>Life</span>
          <span class="font-black"> Never Stop</span>
          <span>Teaching</span>
        </div>
      </div>
      <div
        class="mt-4 2xl:mt-6 w-full text-lg leading-7 text-gray-500 max-md:max-w-full"
      >
        Every teaching and learning journey is unique
        <br />
        We'll help guide your way.
      </div>
      <div
        class=" flex text-base w-32 py-3 mt-8 justify-center items-center font-semibold  text-white  bg-indigo-600 shadow-sm rounded-[50px] " style="box-shadow: 8.799px 8.799px 0px 0px black;"
      >
        <button >Join Now</button>
      </div>
    </div>

    <div class="flex">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/50d83e069b2240b0311904206b5ba9a2381929cf4f43fb6379c67ec06b2e00af?apiKey=d64f73725dfb4ccb8c714d58677398b5&"
        class=" w-[550.13px] h-[320.89px] mt-16 2xl:w-[650.13px] 2xl:h-[420.89px] 2xl:mt-5"
      />
    </div>
  </div>
</div>
