<div class="relative bg-[url('/assets/img/hp-first-illustration-bg.png')]">
  <img loading="lazy" src="/assets/img/homepage-illustration-1.svg"
    class="absolute z-10 inset-y-0 aspect-[1.11] max-w-[257px]" />
  <div class="flex flex-row justify-around lg:flex-row  justify-center overflow-hidden min-h-[350px]">
    <div class=" flex flex-col items-center z-20 ml-8 xl:ml-40 mt-8 2xl:px-5 max-w-[493px]"
      style="font-family: 'Poppins', sans-serif;">
      <div class="flex flex-col items-center mt-10 w-full text-3xl font-semibold leading-[40px] text-slate-900">
        <div class="flex flex-row gap-2 ">
          <span>Teknolojide</span>
          <span
            class="flex bg-amber-400 w-30 rounded-xl align-center justify-center text-center text-white font-extrabold px-1">
            Fark Yarat
          </span>
        </div>

        <div class="flex flex-row align-center text-center  gap-2">
          <span>Şimdi</span>
          <span class="font-black"> Geleceğe</span>
          <span class="mt-0.5">Adım At</span>
        </div>
      </div>
      <div class="mt-4 2xl:mt-6 w-full text-lg leading-7 text-gray-500 max-md:max-w-full">
        Eğitimlerimizle kariyerine yön vermeye hazır mısın?
        <br />
        Teknoloji rehberin TechVenture yanında!
      </div>
      <div
        class="flex text-base w-32 py-3 mt-8 justify-center items-center font-semibold  text-white  bg-indigo-600 shadow-sm rounded-[50px] hover:brightness-110"
        style="box-shadow: 7px 7px 0px 0px black;">
        <button routerLink="/register">Kayıt Ol</button>
      </div>
    </div>

    <div class="flex">
      <img loading="lazy" src="/assets/img/homepage-first-illustration.svg"
        class=" hidden lg:block lg:w-[550.13px] lg:h-[320.89px] mt-16 2xl:w-[650.13px] 2xl:h-[420.89px] 2xl:mt-5" />
    </div>
  </div>
</div>