<!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
  <!-- Section: Design Block -->
  <section class="mb-32">
    <div
      class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-gray-900">
      <div class="flex flex-wrap items-center">
        <div class="hidden shrink-0 grow-0 basis-auto lg:flex lg:w-6/12 xl:w-4/12">
          <img [src]="getByIdBootcampResponse.bootcampImagePath" alt="Bootcamp Image"
            class="w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" />
        </div>
        <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12">
          <div *ngIf="getByIdBootcampResponse" class="px-8 py-16 md:px-16"> 
            <div class="text-right text-neutral-500 dark:text-neutral-300 mb-2">
           <b>   Bootcamp Durumu: {{getByIdBootcampResponse.bootcampStateName}} </b>
            </div>
           
            <P class="mb-4 text-2xl font-bold text-emerald-600">
              <i> {{getByIdBootcampResponse.name}} </i>
            </P>
            <h1>
              Course Details
            </h1>
            <p class="text-neutral-500 dark:text-neutral-300">
              Commodi ut nisi assumenda alias maxime necessitatibus ad rem
              repellat explicabo, reiciendis illum suscipit iusto? Provident
              dignissimos similique, <b>reiciendis</b> inventore accusantium unde
              mollitia, deleniti quae atque error id perspiciatis illum.
              Laboriosam aperiam ab illo dignissimos obcaecati corporis
              similique a odio, optio iste quis placeat alias amet rerum
              sint quos dolor pariatur inventore possimus ad consequuntur
              fugiat perferendis consectetur laudantium.
            </p>
            <!-- Yeni eklenen flex container -->
            <div class="flex justify-between mt-6">
              <!-- Sol alt köşede instructor name -->
              <div class="text-neutral-500 dark:text-neutral-300">
               Eğitmen: {{getByIdBootcampResponse.instructorFirstName + " " + getByIdBootcampResponse.instructorLastName}}
              </div>
              <!-- Sağ alt köşede end date -->
              <div class="text-neutral-500 dark:text-neutral-300">
                Başlangıç Tarihi: {{getByIdBootcampResponse.startDate| date:'shortDate'}}
                <br>
                Bitiş Tarihi: {{getByIdBootcampResponse.endDate | date:'shortDate'}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center mb-5">
        <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Başvuru Yap
        </button>
    </div>
    </div>
  </section>
</div>
