<div class= "h-[150px] flex  items-center bg-[url('/assets/img/fixed-top.svg')]">
    <div class="flex gap-3 mt-2 text-xl ml-52 font-semibold lg:ml-60">
      <div class="text-indigo-900">Ana Sayfa</div>
      <div class="text-gray-400 text-xl">></div>
      <div class="text-indigo-900">Bootcamp</div>
      <div class="text-gray-400 text-xl">></div>
      <div class="text-indigo-600">Bootcamp Adı Gelecek Buraya</div>
    </div>
  </div>
  <div class="flex flex-col px-16  lg:px-20 xl:px-32 2xl:px-60">
  <img loading="lazy" src="/assets/img/bootcamp-image.png" class= "mt-24  " />
  
  <div class="flex font-bold text-3xl xl:text-4xl 2xl:text-5xl mt-12 ">
    Resolving Conflicts Between Designers And Engineers
  </div>
  <div class="flex flex-row mt-10 ">
    <img loading="lazy" src="/assets/img/mini-instructor-image.png" class= "" />
    <div class="flex self-center ml-6 text-xl text-indigo-900">Engin Demiroğ</div>
    <div class="flex self-center w-2 h-2 ml-4 bg-gray-400 rounded-full"></div>
    <img loading="lazy" src="/assets/img/takvim-image.png" class= "self-center ml-6" />
    <div class="flex self-center ml-6 text-xl text-gray-400">24/07/2024 - 28/09/2024</div>
  </div>
  <div class="flex flex-row gap-8 mt-8">
    <button class="flex self-start bg-indigo-700 text-xl text-white px-8 py-4 rounded-full border border-black">
    Son Başvuru:<span class=" ml-2 font-semibold">09/05/2024</span>
  </button>
  
    <div class="flex self-start bg-amber-400 gap-2 font-bold text-xl text-black px-8 py-3 rounded-full border border-black border-solid" 
    style="box-shadow: 4px 4px 0px 0px black;">
      <button class="flex justify-start"> 
      Başvur </button>
      <img loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/042c3f9a651c2b1eae7825fd1100879eaf3636be8252209c044142f88ba45892?apiKey=d64f73725dfb4ccb8c714d58677398b5&"
          
            />
    </div>
    </div>
  <div class="flex flex-wrap px-8 border-2 border-gray-300 mt-12 leading-loose">
  deneme yazıları yazıyorum kurs açıklaması gelecek
  </div>
    
  <!--en dış div-->
  </div>
