<div class="flex flex-row justify-around mt-0 md:mt-28 lg:mt-28">
  <img loading="lazy" src="/assets/img/faq-illustration.svg" />

  <div class="flex flex-col px-5 text-2xl font-medium leading-7 text-gray-500 max-w-[628px]">
    <div
      class="justify-center self-start px-6 py-3 text-lg leading-7 text-indigo-600 whitespace-nowrap bg-indigo-50 rounded-[34.113px] max-md:px-5">
      SSS
    </div>
    <div
      class="mt-3 w-full text-4xl font-bold tracking-tighter capitalize leading-[54px] text-slate-900 max-md:max-w-full">
      TechVenture hakkında merak
      <br />
      ettiklerinizi burada bulabilirsiniz
    </div>
    <div class="mt-6 w-full text-lg text-black max-md:max-w-full">
      En sık sorulan soruların yanıtlarını sizin için derledik.
      <br />
      Daha fazla bilgi için her zaman bize ulaşabilirsiniz.
    </div>
    <div id="accordion-collapse" data-accordion="collapse" data-active-classes="text-indigo-600">
      <div id="accordion-collapse-heading-1">
        <button type="button"
          class="flex gap-5 text-base md:text-md lg:text-lg justify-between pt-0 pr-6 pb-2 mt-4 w-full border-solid border-slate-300 max-md:flex-wrap max-md:pr-5 max-md:max-w-full"
          data-accordion-target="#accordion-collapse-body-1" aria-expanded="true"
          aria-controls="accordion-collapse-body-1">
          <span>Eğitimler online mı yoksa yüz yüze mi?</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 5 5 1 1 5" />
          </svg>
        </button>
      </div>
      <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
        <div class="mt-3 w-full text-lg leading-8 text-black max-md:max-w-full">
          <p>
            Eğitimlerimiz tamamen online olarak gerçekleştirilmektedir. Böylece dilediğiniz yerden katılabilirsiniz.

          </p>
        </div>
      </div>
      <div id="accordion-collapse-heading-2">
        <button type="button"
          class="flex gap-5 text-base md:text-md lg:text-lg justify-between pt-0 pr-6 pb-2 mt-4 w-full border-solid border-slate-300 max-md:flex-wrap max-md:pr-5 max-md:max-w-full"
          data-accordion-target="#accordion-collapse-body-2" aria-expanded="false"
          aria-controls="accordion-collapse-body-2">
          <span>Bootcamp'e katılmak için herhangi bir ön bilgi gerekiyor mu?</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 5 5 1 1 5" />
          </svg>
        </button>
      </div>
      <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
        <div class="mt-3 w-full text-lg leading-8 text-black max-md:max-w-full">
          <p>
            Hayır, kursa katılmak için herhangi bir ön bilgiye ihtiyaç yoktur. Temel düzeyden başlayarak ileri seviyeye
            kadar ilerleyeceğiz.
          </p>
        </div>
      </div>
      <div id="accordion-collapse-heading-3">
        <button type="button"
          class="flex gap-5 text-base md:text-md lg:text-lg justify-between pt-0 pr-6 pb-2 mt-4 w-full border-solid border-slate-300 max-md:flex-wrap max-md:pr-5 max-md:max-w-full"
          data-accordion-target="#accordion-collapse-body-3" aria-expanded="false"
          aria-controls="accordion-collapse-body-3">
          <span>Sertifika veriyor musunuz?</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 5 5 1 1 5" />
          </svg>
        </button>
      </div>
      <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
        <div class="mt-3 w-full text-lg leading-8 text-black max-md:max-w-full">
          <p>
            Evet, kurs sonunda başarıyla tamamlayan katılımcılara sertifika verilmektedir. Sertifikalar dijital olarak
            iletilecektir.
          </p>
        </div>
      </div>
      <div id="accordion-collapse-heading-4">
        <button type="button"
          class="flex gap-5 text-base md:text-md lg:text-lg justify-between pt-0 pr-6 pb-2 mt-4 w-full border-solid border-slate-300 max-md:flex-wrap max-md:pr-5 max-md:max-w-full"
          data-accordion-target="#accordion-collapse-body-4" aria-expanded="false"
          aria-controls="accordion-collapse-body-4">
          <span>Bootcamp eğitim süresi ne kadar?</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 5 5 1 1 5" />
          </svg>
        </button>
      </div>
      <div id="accordion-collapse-body-4" class="hidden" aria-labelledby="accordion-collapse-heading-4">
        <div class="mt-3 w-full text-lg leading-8 text-black max-md:max-w-full">
          <p>
            Bootcamp eğitimlerimizin hangi tarih aralığında yapılacağı bootcamp detay sayfasında yer almaktadır.
            Genel olarak eğitimler 4-6 hafta sürmektedir.
          </p>
        </div>
      </div>
      <div id="accordion-collapse-heading-5">
        <button type="button"
          class="flex gap-5 text-base md:text-md lg:text-lg justify-between pt-0 pr-6 pb-2 mt-4 w-full border-solid border-slate-300 max-md:flex-wrap max-md:pr-5 max-md:max-w-full"
          data-accordion-target="#accordion-collapse-body-5" aria-expanded="false"
          aria-controls="accordion-collapse-body-5">
          <span>Derslerin kayıtlarına erişebilir miyim?</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 5 5 1 1 5" />
          </svg>
        </button>
      </div>
      <div id="accordion-collapse-body-5" class="hidden" aria-labelledby="accordion-collapse-heading-5">
        <div class="mt-3 w-full text-lg leading-8 text-black max-md:max-w-full">
          <p>
            Evet, tüm dersler kaydedilecek ve katılımcılarımızın erişimine sunulacaktır. Böylece kaçırdığınız dersleri
            tekrar izleyebilirsiniz.
          </p>
        </div>
      </div>
      <div id="accordion-collapse-heading-6">
        <button type="button"
          class="flex gap-5 text-base md:text-md lg:text-lg justify-between pt-0 pr-6 pb-2 mt-4 w-full border-solid border-slate-300 max-md:flex-wrap max-md:pr-5 max-md:max-w-full"
          data-accordion-target="#accordion-collapse-body-6" aria-expanded="false"
          aria-controls="accordion-collapse-body-6">
          <span>Başvurum kabul edilirse ne zaman bilgilendirileceğim?</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 5 5 1 1 5" />
          </svg>
        </button>
      </div>
      <div id="accordion-collapse-body-6" class="hidden" aria-labelledby="accordion-collapse-heading-6">
        <div class="mt-3 w-full text-lg leading-8 text-black max-md:max-w-full">
          <p>
            Başvuruların değerlendirilmesi birkaç hafta sürebilir. Başvurunuzla ilgili sonuçlar, e-posta veya telefon
            yoluyla size bildirilecektir.
          </p>
        </div>
      </div>
      <div id="accordion-collapse-heading-7">
        <button type="button"
          class="flex gap-5 text-base md:text-md lg:text-lg justify-between pt-0 pr-6 pb-2 mt-4 w-full border-solid border-slate-300 max-md:flex-wrap max-md:pr-5 max-md:max-w-full"
          data-accordion-target="#accordion-collapse-body-7" aria-expanded="false"
          aria-controls="accordion-collapse-body-7">
          <span>Reddedilen başvuruya itiraz edebilir miyim?</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 5 5 1 1 5" />
          </svg>
        </button>
      </div>
      <div id="accordion-collapse-body-7" class="hidden" aria-labelledby="accordion-collapse-heading-7">
        <div class="mt-3 w-full text-lg leading-8 text-black max-md:max-w-full">
          <p>
            Bootcamp başvuruları ekibimiz tarafından titizlikle değerlendirilmektedir. Sonuçlara itiraz edemezsin ama
            dilediğin kadar bootcamp başvurusu yapabilirsin
          </p>
        </div>
      </div>
      <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
    </div>
  </div>

  <style>
    .bg-color {
      background: linear-gradient(to right,
          rgb(255, 255, 255),
          rgba(255, 255, 255, 1),
          rgb(240, 237, 248));
    }
  </style>
</div>