<div
  class="p-10 bg-gradient-to-br from-purple-800 to-blue-500 hover:bg-gradient-to-bl flex flex-row justify-between align-center w-full max-md:pr-5 max-md:max-w-full gap-5 max-md:flex-col max-md:gap-0 max-md:ml-0 max-md:w-full max-md:flex-wrap max-md:mt-10 max-md:max-w-full">
  <div
    class="text-4xl w-1/2  2xl:w-1/3 leading-10 text-white capitalize mx-20 max-md:max-w-full max-md:text-3xl max-md:leading-8 max-md:mb-5 max-md:ml-0 max-md:w-full max-md:text-center max-md:mt-5 max-md:pl-5 max-md:pr-5 max-md:pb-5 max-md:pt-0 max-md:gap-0 max-md:flex-wrap max-md:justify-center max-md:align-center max-md:flex max-md:flex-col max-md:gap-5 max-md:items">
    Yeni <span class="font-bold">Bootcamp & Eğitmen</span>
    <br class="hidden md:block" />
    <span class="font-bold">Haberleri</span> Almak İster Misin?
  </div>
  <div
    class="flex flex-col md:flex-row lg:flex-row justify-center md:justify-end lg:justify-end gap-5 w-3/4 lg:w-2/4 pl-20 my-auto text-base">
    <input
      class="px-5 py-6 w-full max-w-96 md:w-3/6 lg:w-3/5 h-6 text-slate-400 bg-white  rounded-[50px] max-md:px-5 max-md:max-w-full"
      placeholder="Type your email..." />
    <button
      class="flex flex-row justify-center align-center items-center p-6 h-6 w-full max-w-48 md:w-2/6 lg:w-2/5 font-bold bg-amber-400 border border-solid  border-stone-950 rounded-[50px] text-slate-900 max-md:px-5"
      style="box-shadow: 8.799px 8.799px 0px 0px black;">
      Abone Ol
    </button>
  </div>
</div>