  <!--Table Content-->
  <div class="overflow-x-auto">
    <table class="min-w-full">
      <thead>
        <tr>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Başvuran Ad/Soyad </th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Video Url</th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Content</th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let applicantBootcampContents of applicantBootcampContentList.items">
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">{{ applicantBootcampContents.applicantFirstName}} {{ applicantBootcampContents.applicantLastName}} </td>
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
            <a href="{{ applicantBootcampContents.bootcampContentVideoUrl }}" target="_blank">  {{ applicantBootcampContents.bootcampContentVideoUrl}}</a>
        </td>
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">{{ applicantBootcampContents.bootcampContentContent }}</td>
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
            <button (click)="delete(applicantBootcampContents.id)" class="px-3 py-1 bg-red-500 text-white rounded-md hover:bg-red-600 focus:outline-none focus:bg-red-600">
              Sil
            </button>
          </td>
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
          </td>
        </tr>
      </tbody>
    </table>