<div
  class="bg-[url('https://cdn.builder.io/api/v1/image/assets/TEMP/541ece19e3b46aadb5fe5c6d973f9fa34c42aa08cc0c270bf7fceebd830c2f2c?apiKey=d64f73725dfb4ccb8c714d58677398b5&')]"
>
  <div class="flex flex-col items-center pt-20 pb-24">
    <div class="hp2a justify-center text-center px-5 py-2 rounded-[32px]">
      Top Class Courses
    </div>
    <div class="hp2b text-center capitalize mt-10 tracking-[-0.82px]">
      Explore Our World's Best Courses
    </div>
    <div class="hp2c text-center mb-8">
      when an unknown printer took a galley of type and scrambled make
    </div>

    <app-bootcamp-card></app-bootcamp-card>
    <div
      class="flex gap-8 justify-center px-11 py-5 text-base font-bold leading-4 text-center text-white capitalize bg-indigo-700 rounded-[50px] max-md:px-5 mt-16" style="box-shadow: 8.799px 8.799px 0px 0px black;"
    >
      <button>Tümünü Gör</button>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/d9ef28bbe471ba31f0aac4344e974c7a209f13839fba1dba03b7e06b51e2537f?apiKey=d64f73725dfb4ccb8c714d58677398b5&"
        class="shrink-0 self-start aspect-[1.08] w-[15px]" 
      />
    </div>
  </div>
</div>
<style>
  .hp2a {
    background-color: #efeefe;
    color: #5751e1;
    font: 500 18px/162% Inter, sans-serif;
  }

  .hp2b {
    color: #161439;
    font: 600 40px/133% Poppins, sans-serif;
  }

  .hp2c {
    color: #6d6c80;
    font: 400 18px/31px Inter, sans-serif;
  }
</style>
