<div
  class="bg-[url('https://cdn.builder.io/api/v1/image/assets/TEMP/541ece19e3b46aadb5fe5c6d973f9fa34c42aa08cc0c270bf7fceebd830c2f2c?apiKey=d64f73725dfb4ccb8c714d58677398b5&')]"
>
  <div class="flex flex-col items-center pt-20 pb-24">
    <div class="hp2a">Top Class Courses</div>
    <div class="hp2b">Explore Our World's Best Courses</div>
    <div class="hp2c">
      when an unknown printer took a galley of type and scrambled make
    </div>

    <app-bootcamp-card></app-bootcamp-card>
    <div
      class="flex gap-8 justify-center px-11 py-5 text-base font-bold leading-4 text-center text-white capitalize bg-indigo-600 rounded-[50px] max-md:px-5 mt-10"
    >
      <button>Tümünü Gör</button>
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/d9ef28bbe471ba31f0aac4344e974c7a209f13839fba1dba03b7e06b51e2537f?apiKey=d64f73725dfb4ccb8c714d58677398b5&"
        class="shrink-0 self-start aspect-[1.08] w-[15px]"
      />
    </div>
  </div>
</div>
<style>
  .hp2a {
    justify-content: center;
    border-radius: 32.995px;
    background-color: #efeefe;
    color: #5751e1;
    text-align: center;
    padding: 9px 19px;
    font: 500 18px/162% Inter, sans-serif;
  }

  .hp2b {
    color: #161439;
    text-align: center;
    letter-spacing: -0.82px;
    text-transform: capitalize;
    margin-top: 24px;
    font: 600 40px/133% Poppins, sans-serif;
  }

  @media (max-width: 991px) {
    .hp2b {
      max-width: 100%;
    }
  }

  .hp2c {
    color: #6d6c80;
    text-align: center;
    margin-top: 37px;
    font: 400 18px/31px Inter, sans-serif;
  }

  @media (max-width: 991px) {
    .hp2c {
      max-width: 100%;
    }
  }
</style>
