<form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit()" class="max-w-md mx-auto mt-6">
    <div *ngIf="formMessage" class="text-red-500">{{ formMessage }}</div>
    <div class="mb-4">
      <label for="userName" class="block text-base font-semibold text-gray-900 mb-1">Employee UserName:</label>
      <input formControlName="userName" type="text" id="userName" placeholder="UserName buraya giriniz"
             class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full h-10 px-3 py-2 text-base 
                    placeholder-gray-400 border-gray-300 rounded-md shadow-sm focus:outline-none 
                    focus:ring-2  focus:border-transparent">
    </div>
    <div class="mb-4">
        <label for="firstName" class="block text-base font-semibold text-gray-900 mb-1">Employee firstName:</label>
        <input formControlName="firstName" type="text" id="firstName" placeholder="firstName buraya giriniz"
               class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full h-10 px-3 py-2 text-base 
                      placeholder-gray-400 border-gray-300 rounded-md shadow-sm focus:outline-none 
                      focus:ring-2  focus:border-transparent">
      </div>
      <div class="mb-4">
        <label for="lastName" class="block text-base font-semibold text-gray-900 mb-1">Employee lastName:</label>
        <input formControlName="lastName" type="text" id="lastName" placeholder="lastName buraya giriniz"
               class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full h-10 px-3 py-2 text-base 
                      placeholder-gray-400 border-gray-300 rounded-md shadow-sm focus:outline-none 
                      focus:ring-2  focus:border-transparent">
      </div>
      <div class="mb-4">
        <label for="email" class="block text-base font-semibold text-gray-900 mb-1">Employee email:</label>
        <input formControlName="email" type="text" id="email" placeholder="email buraya giriniz"
               class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full h-10 px-3 py-2 text-base 
                      placeholder-gray-400 border-gray-300 rounded-md shadow-sm focus:outline-none 
                      focus:ring-2  focus:border-transparent">
      </div>
      <div class="mb-4">
        <label for="nationalIdentity" class="block text-base font-semibold text-gray-900 mb-1">Employee nationalIdentity:</label>
        <input formControlName="nationalIdentity" type="text" id="nationalIdentity" placeholder="nationalIdentity buraya giriniz"
               class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full h-10 px-3 py-2 text-base 
                      placeholder-gray-400 border-gray-300 rounded-md shadow-sm focus:outline-none 
                      focus:ring-2  focus:border-transparent">
      </div>
      <div class="mb-4">
        <label for="password" class="block text-base font-semibold text-gray-900 mb-1">Employee password:</label>
        <input formControlName="password" type="text" id="password" placeholder="password buraya giriniz"
               class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full h-10 px-3 py-2 text-base 
                      placeholder-gray-400 border-gray-300 rounded-md shadow-sm focus:outline-none 
                      focus:ring-2  focus:border-transparent">
      </div>
      <div class="mb-4">
        <label for="position" class="block text-base font-semibold text-gray-900 mb-1">Employee position:</label>
        <input formControlName="position" type="text" id="position" placeholder="position buraya giriniz"
               class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full h-10 px-3 py-2 text-base 
                      placeholder-gray-400 border-gray-300 rounded-md shadow-sm focus:outline-none 
                      focus:ring-2  focus:border-transparent">
      </div>
      <div class="mb-4">
        <label for="dateOfBirth" class="block text-base font-semibold text-gray-900 mb-1">Employee dateOfBirth:</label>
        <input formControlName="dateOfBirth" type="date" id="dateOfBirth" placeholder="dateOfBirth buraya giriniz"
               class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full h-10 px-3 py-2 text-base 
                      placeholder-gray-400 border-gray-300 rounded-md shadow-sm focus:outline-none 
                      focus:ring-2  focus:border-transparent">
      </div>
      
    <div class="flex justify-between">
      <button  type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:bg-indigo-700">
        Employee Ekle
      </button>
      <button routerLink="/admin/employee"  type="button" class="w-full bg-gray-400 text-gray-800 py-2 px-4 rounded-md hover:bg-gray-500 focus:outline-none focus:bg-gray-500 ml-2">
        İptal
      </button>
    </div>
  </form>
  