<div class="relative flex">
  <img loading="lazy" src="/assets/img/fixed-top.svg" class="mt-4" style="z-index: 0;" />

  <div class="flex flex-row ml-36 -mt-1 2xl:mt-2 2xl:ml-60 max-w-full w-[274px] max-md:ml-2.5 absolute top-12"
    style="z-index: 1;">

    <div class="flex gap-3 mt-2 text-base leading-7 whitespace-nowrap font-semibold">
      <div class="text-indigo-950">Profilim</div>
      <div class="text-gray-400 text-xl">></div>
      <div class="text-indigo-600">Şifremi Güncelle</div>
    </div>
  </div>
</div>




<div class="flex justify-center mt-16 mb-32">
  <form [formGroup]="updatePasswordForm" (submit)="onSubmit()">
  <div
    class="flex flex-col justify-center px-12 pt-8 pb-12 text-base rounded-lg border border-solid bg-slate-50 border-neutral-200 max-w-[690px] max-md:px-5">
    <div class="text-4xl font-bold leading-10 text-slate-900 max-md:max-w-full">
      Şifremi Güncelle
    </div>
    <div class="flex gap-4 mt-6 max-md:flex-wrap max-md:mt-10 max-md:mr-1.5">
      <div class="flex flex-col flex-1 grow shrink-0 basis-0 w-fit">

        <div class="mt-4 text-lg font-bold leading-5 text-slate-900 max-md:mt-10 max-md:max-w-full">
          <label for="password"> Eski Şifre</label>
        </div>
        <input formControlName="password" name="password" id="password" type="password"
          placeholder="Eski şifrenizi yazınız  . . ."
          class="justify-center items-start px-5 py-3 mt-2.5 text-gray-500  whitespace-nowrap bg-white rounded-md border border-solid border-neutral-200 max-md:px-5 max-md:max-w-full" />
        <div class="mt-4 text-lg font-bold leading-5 text-slate-900 max-md:mt-10 max-md:max-w-full">
          <label for="newPassword"> Yeni Şifre</label>
        </div>
        <input formControlName="newPassword" name="newPassword" id="newPassword" type="password"
          placeholder="Yeni şifrenizi yazınız  . . ."
          class="justify-center items-start px-5 py-3 mt-2.5 text-gray-500  whitespace-nowrap bg-white rounded-md border border-solid border-neutral-200 max-md:px-5 max-md:max-w-full" />

        <button type="submit"
          class="flex justify-center items-center px-16 py-3 mt-12 font-bold text-center text-black capitalize bg-amber-400 border-2 border-black border-solid shadow-sm leading-[112%] rounded-[50px] max-md:px-5 max-md:mt-10 max-md:max-w-full hover:brightness-110"
          style="box-shadow: 8.799px 8.799px 0px 0px black;">
          <div class="flex gap-3 text-xl">
            <div>Güncelle</div>
            <img loading="lazy" src="/assets/img/for-all-butons.svg" />
          </div>
        </button>

      </div>
      <!--</form>-->
    </div>
  </div>
</form>
</div>
