<div class="flex h-screen bg-gray-200">
  <!-- Sidebar -->
  <div class="w-64 bg-white border-r">
    <!-- Sidebar Content -->
    <div class="p-4">
      <h1 class="text-xl font-semibold">Admin Panel</h1>
      <ul class="mt-4">
        <li class="mb-2">
          <a routerLink="/admin" class="block p-2 bg-gray-300 rounded hover:bg-gray-400 hover:text-black hover:cursor-pointer">Ana Sayfa</a>
        </li>
        <li class="mb-2">
          <a routerLink="/admin" class="block p-2 bg-gray-300 rounded hover:bg-gray-400 hover:text-black hover:cursor-pointer">Kullanıcılar</a>
        </li>
        <li class="mb-2 relative" (click)="toggleDropdown()">
          <button class="block w-full p-2 rounded bg-gray-300 text-left hover:bg-gray-400 hover:text-black" id="navbarDropdown" role="button" aria-expanded="false">
            <span class="inline-block">Ürünler</span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu absolute hidden bg-white shadow-md rounded w-48" aria-labelledby="navbarDropdown" [ngClass]="{'hidden': !isDropdownOpen}">
            <li><a class="block p-2 text-gray-800 hover:bg-gray-200" routerLink="applicant">Applicants</a></li>
            <li><a class="block p-2 text-gray-800 hover:bg-gray-200" routerLink="admin-bootcamp">Bootcamps</a></li>
            <li><a class="block p-2 text-gray-800 hover:bg-gray-200" routerLink="applicationState">Application State</a></li>
            <li><a class="block p-2 text-gray-800 hover:bg-gray-200" routerLink="bootcampState">Bootcamp State</a></li>
            <li><a class="block p-2 text-gray-800 hover:bg-gray-200" routerLink="quiz">Quiz</a></li>
            <li><a class="block p-2 text-gray-800 hover:bg-gray-200" routerLink="questions">Questions</a></li>
            <li><a class="block p-2 text-gray-800 hover:bg-gray-200" routerLink="quiz-questions">QuizQuestions</a></li>
            <li><a class="block p-2 text-gray-800 hover:bg-gray-200" routerLink="result">Results</a></li>
            <li><a class="block p-2 text-gray-800 hover:bg-gray-200" routerLink="blacklist">Blacklists</a></li>
            <li><a class="block p-2 text-gray-800 hover:bg-gray-200" routerLink="employee">Employee</a></li>
            <li><a class="block p-2 text-gray-800 hover:bg-gray-200" routerLink="instructor">Instructor</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- Main Content -->
  <div class="flex-1 p-4">
    <router-outlet></router-outlet>
  </div>
</div>
