<div
  class="flex justify-center items-center py-14 pr-10 mt-48  mx-44 text-center text-white shadow-[0_55px_90px_-15px] custom-shadow  bg-violet-950 rounded-[45.216px] max-md:px-5"
>
  <div
    class="flex gap-5 justify-between items-center w-full max-w-[1299px] max-md:flex-wrap max-md:max-w-full"
  >
    <div class="flex flex-col self-stretch my-auto">
      <div class="text-7xl font-semibold leading-[57.96px] max-md:text-4xl">
        45K+
      </div>
      <div class="mt-3 text-xl font-medium leading-6">Active Students</div>
    </div>
    <div class="relative h-[133px]">
        <!-- Soluk beyaz çizgi -->
        <div class="absolute inset-y-0 left-0 w-1.5 bg-gradient-to-b from-white to-transparent "></div>
      </div>
    <div class="shrink-0 self-stretch rounded-sm h-[133px] w-[15px]"></div>
    <div class="flex flex-col self-stretch my-auto whitespace-nowrap">
      <div class="text-7xl font-semibold leading-[57.96px] max-md:text-4xl">
        89+
      </div>
      <div class="mt-3 text-xl font-medium leading-6">Bootcamps</div>
    </div>
    <div class="relative h-[133px]">
        <!-- Soluk beyaz çizgi -->
        <div class="absolute inset-y-0 left-0 w-1.5 bg-gradient-to-b from-white to-transparent "></div>
      </div>
    <div class="shrink-0 self-stretch w-2.5 rounded-sm h-[133px]"></div>
    <div class="flex flex-col self-stretch my-auto whitespace-nowrap">
      <div class="text-7xl font-semibold leading-[57.96px] max-md:text-4xl">
        156K
      </div>
      <div class="mt-3 text-xl font-medium leading-6">Instructors</div>
    </div>
    <div class="relative h-[133px]">
        <!-- Soluk beyaz çizgi -->
        <div class="absolute inset-y-0 left-0 w-1.5 bg-gradient-to-b from-white to-transparent "></div>
      </div>
    <div class="shrink-0 self-stretch w-4 rounded-sm h-[133px]"></div>
    <div class="flex flex-col self-stretch my-auto whitespace-nowrap">
      <div class="text-7xl font-semibold leading-[57.96px] max-md:text-4xl">
        42K
      </div>
      <div class="mt-3 text-xl font-medium leading-6">Partnerships</div>
    </div>
  </div>
 
</div>
<style>
  .custom-shadow {
    box-shadow: 0 55px 90px -15px rgba(207, 197, 232); /* Violet-950 rengi gölge */
  }
  </style>




