<div class="flex flex-col md:flex-row lg:flex-row content-center flex-wrap gap-5 text-slate-900 pt-12 pb-6 px-20">
  <div class="flex flex-col md:flex-row lg:flex-row justify-center md:justify-start lg:justify-start gap-5 text-base font-medium">
    <img
      routerLink="homepage"
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/41934e332f401213ad6f646af99e9a2b39a7228ba0d51defd350f4238c225073?apiKey=d64f73725dfb4ccb8c714d58677398b5&"
      class="shrink-0 my-auto max-w-full aspect-[4] w-[153px] hover:cursor-pointer"
    />
    <div class="flex gap-10 px-5 max-md:flex-wrap max-md:max-w-full">
      <button routerLink="homepage" class="my-auto hover:text-indigo-600 capitalize text-lg">
        Home
      </button>
      <button routerLink="bootcamps" class="hover:text-indigo-600 capitalize text-lg">Courses</button>
      <button class="hover:text-indigo-600 capitalize text-lg">
        Instructors
      </button>
      <button class="hover:text-indigo-600 capitalize text-lg">FAQ</button>

      <div
        class="flex justify-end md:justify-end lg:justify-end gap-1.5 px-4 items-center w-96 self-stretch border border-gray-300 rounded-full text-slate-400 max-md:flex-wrap"
      >
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/6fb19ccbcd1cf2cdf5d007e41fb1c65e35035f592fd6f53a07bba76e3e5321ce?apiKey=d64f73725dfb4ccb8c714d58677398b5&"
          class="shrink-0 w-4 h-4 fill-indigo-600"
        />
        <input
          type="text"
          placeholder="Search For Course . . ."
          class="flex-auto outline-none border-white bg-transparent text-opacity-20 font-thin" 
        /> 
      </div>
    </div>
  </div> 
 
  <div 
    class="flex  flex-row gap-5  md:justify-end lg:justify-end md:ml-auto lg:ml-auto items-start text-base font-bold" 
    id="navbar-default"
  >
    <!-- Kullanıcı giriş yapmışsa -->
    <ng-container *ngIf="isLoggedIn">
      <!-- Kullanıcı admin mi? -->
      <ng-container *ngIf="isAdmin">
        <button routerLink="/admin" class="px-5 py-3 bg-indigo-500 text-white border border-solid border-blue-950 border-opacity-20 rounded-[50px] hover:brightness-110">
          Admin Panel
        </button>
      </ng-container>
      
      <button routerLink="/profile" class="px-5 py-3 bg-green-500 text-white border border-solid border-blue-950 border-opacity-20 rounded-[50px] hover:brightness-110">
        Profile
      </button>
      
      <button (click)="logOut()" class="px-5 py-3 bg-red-500 text-white border border-solid border-blue-950 border-opacity-20 rounded-[50px] hover:brightness-110">
        Logout
      </button>
    </ng-container>

    <!-- Kullanıcı giriş yapmamışsa -->
    <ng-container *ngIf="!isLoggedIn">
      <button routerLink="/register" class="px-5 py-3 bg-amber-400 border border-blue-950 border-opacity-20 rounded-[50px] hover:brightness-110" style="box-shadow: 5px 5px 0px 0px black;">
        Kayıt Ol
      </button>

      <button routerLink="/login" class="px-5 py-3 bg-amber-400 border border-solid border-blue-950 border-opacity-20 rounded-[50px] hover:brightness-110" style="box-shadow: 5px 5px 0px 0px black;">
        Giriş Yap
      </button>
    </ng-container>
  </div>
</div>
