<div class="relative flex">
    <img loading="lazy" src="/assets/img/fixed-top.svg" class="mt-4 w-full" style="z-index: 0;" />
  
    <div class="flex flex-row ml-36 absolute top-10  2xl:ml-60 2xl:mt-10 gap-3  text-xl  font-semibold"
      tyle="z-index: 1;">
      <div class="text-indigo-900">Ana Sayfa</div>
      <div class="text-gray-400 text-xl">></div>
      <div class="text-indigo-600">Bootcamp</div>
    </div>
  </div>
  
  <div class="flex flex-row justify-between mx-20 2xl:mx-40 mt-20">
  <div class="flex flex-row gap-6 text-2xl text-slate-500">
    <button class="hover:text-indigo-600">Tümünü Gör</button>
    <button class="hover:text-indigo-600">Devam Edenler</button>
    <button class="hover:text-indigo-600">Bitenler</button>
  </div>
  
  <div class=" flex flex-row gap-3 ">
  <div class="text-2xl text-slate-500 self-center">Filtrele:</div>
  <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-slate-500 text-2xl bg-white hover:text-indigo-600   border-solid border-gray border-2  px-6 py-1 text-center inline-flex items-center " type="button">Eğitmenler <svg class="w-4 h-4 ms-3 mt-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="m1 1 4 4 4-4"/>
    </svg>
    </button>
    <!-- Dropdown menu -->
    <div id="dropdown" class="flex hidden bg-white divide-y divide-gray-100  rounded-lg shadow dark:bg-gray-700">
        <ul class=" flex flex-col py-2 text-xl text-slate-500 ml-2 mr-10 " aria-labelledby="dropdownDefaultButton">
          <li routerLink="/bootcamps">
            <a class="block px-4 py-2 hover:cursor-pointer">Bütün Bootcampler</a>            
          </li>
          <ng-container *ngFor="let instructors of instructors.items">
          <li  routerLink="/bootcamps/instructor/{{instructors.id}}"  [ngClass]="{'': selectedInstructorId === instructors.id}" (click)="onSelectedInstructor(instructors.id)">
            <a class="block px-4 py-2 hover:cursor-pointer ">{{instructors.firstName}} {{instructors.lastName}}</a>
          </li>
        </ng-container>
        </ul>
    </div>
    <img loading="lazy" src="/assets/img/filter.png" class=" ">
  
  </div>
  
  </div>
  
  <!--dışarıdaki çerçeve--><div class="flex flex-row mx-20 2xl:mx-60 mt-16 mb-20 border-2" >

  
  <!--kartların içine yerleştiği div--><div class="flex flex-wrap mx-4 mt-10 gap-8 mb-20 2xl:mx-32 2xl:gap-16 2xl:my-16">
    <ng-container *ngFor="let bootcamp of bootcampList.items">
   <!-- 1.kart--> <div class="flex flex-col md:flex-row lg:flex-row gap-6 justify-center">
     
        <section
          class="flex flex-col py-2 xl:py-7 bg-white rounded-xl border border-gray-400 border-solid max-w-[340px] max-h-[470px]"
        >
          <div class="flex flex-col 2xl:px-8 max-md:px-5 " [routerLink]="">
            <img 
            [src]="bootcamp.bootcampImagePath" alt="Bootcamp Image"  [routerLink]="['/bootcampDetail', bootcamp.id.toString()]"
              class="w-full aspect-[1.45] object-cover hover:cursor-pointer"
            />
            <h2 class=" ml-4 mt-0 2xl:ml-0 2xl:mt-6 text-xl font-semibold leading-7 text-slate-900">
              {{bootcamp.name}}
            </h2>
            <div class="flex ml-4 mt-2 gap-2 2xl:mt-5 2xl:ml-0 text-lg leading-4 text-gray-500">
              <span class="flex-auto">{{bootcamp.instructorFirstName}} {{bootcamp.instructorLastName}}</span
              >
            </div>
          </div>
          <hr
            class="shrink-0  mt-4 2xl:mt-12 h-px bg-gray-500 border border-gray-500 border-solid max-md:mt-10"
          />
          <div  class="flex mt-3 ml-4 gap-10  2xl:gap-10 2xl:mt-5 2xl:mx-8 ">
            <div  class="flex flex-col my-auto text-lg leading-4">
              <span  class="text-gray-500">Son Başvuru:</span>
              <time class="mt-1.5 font-semibold text-slate-900">
              {{formDate(bootcamp.deadline)}}</time>
            </div>
            <button
            [routerLink]="['/bootcampDetail', bootcamp.id.toString()]"
              class="flex gap-2 justify-center px-6 py-4 text-base font-bold leading-5 bg-amber-400 border border-black border-solid shadow-sm rounded-[56.813px] text-slate-900 max-md:px-5"
              style="box-shadow: 4px 4px 0px 0px black;"
              >
              <span class="grow my-auto">Başvur</span>
              <img
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/2c516fab2a8b9ab70e3fbe9eee7e3103f5295befdfeb651ec6183a08e1459c32?apiKey=d64f73725dfb4ccb8c714d58677398b5&"
                alt=""
                class="shrink-0 aspect-[0.93] w-[15px]"
              />
            </button>
          </div>
        </section>
     
   <!--1.kart bitiş--> </div>
  </ng-container>
  </div> <!--kartların içine yerleştiği div bitiş-->

  
  <!--dışarıdaki çerçeve--></div>
  <div class= "flex justify-center gap-5 mt-32 ">
  <button class="flex px-6 py-4 text-4xl text-bold bg-gray-200 text-indigo-900 rounded-full hover:bg-indigo-700 hover:text-white" >
    1
  </button>
  <button class="flex px-6 py-4 text-4xl text-bold bg-gray-200 text-indigo-900 rounded-full hover:bg-indigo-700 hover:text-white">
    2
  </button>
  <button class="flex px-6 py-4 text-4xl text-bold bg-gray-200 text-indigo-900 rounded-full hover:bg-indigo-700 hover:text-white">
    3
  </button>
  <button class="flex px-6 py-4 text-4xl text-bold bg-gray-200 text-indigo-900 rounded-full hover:bg-indigo-700 hover:text-white">
    4
  </button>
  </div>
  