<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-info">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a routerLink="/homepage" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  
                    <li>
                        <a routerLink="#submenu2" data-bs-toggle="collapse" class="nav-link text-dark px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                            </li>    
                        </ul>
                    </li>
                    <li>
                        <a  routerLink="/homepage" class="nav-link px-0 text-dark align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a routerLink="/homepage" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRyOHdPU0h3GFKJdMhu6r0es-hnDY_VyUc47rTHHNDzZMQrFa8s" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">Burak Yazici</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">

            <table class="table table-bordered">
                <thead >
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>BootcampState</th>
                    <th>Created Date</th>
                    <th>End Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let bootcamp of bootcampList">
                    <td>{{ bootcamp.id }}</td>
                    <td>{{ bootcamp.name}}</td>
                    <td>{{ bootcamp.instructorFirstName}}</td>
                    <td>{{ bootcamp.instructorLastName}}</td>
                    <td>{{ bootcamp.bootcampStateName}}</td>
                    <td>{{ bootcamp.startDate| date: 'dd/MM/yyyy'}}</td>
                    <td>{{ bootcamp.endDate| date: 'dd/MM/yyyy'}}</td>
                 
                  </tr>
                </tbody>
              </table>       
            
        </div>
    </div>
</div>