
  <!--en üstteki resimli başlık-->
  <div class= "h-[150px] flex  items-center bg-[url('/assets/img/fixed-top.svg')]">
    <div  class="flex gap-3 mt-2 text-xl ml-52 font-semibold lg:ml-60">
      <div class="text-indigo-900">Ana Sayfa</div>
      <div class="text-gray-400 text-xl">></div>
      <div class="text-indigo-600">Eğitmenler</div>
   
    </div>
  </div>
 <!--en üstteki resimli başlık bitiş-->

<div class="flex flex-wrap justify-center gap-16 my-24 xl:gap-24 2xl:gap-36 ">
 <div class="flex flex-col items-center w-[300px] h-[370px] px-4 py-4 border-gray-300 rounded-xl shadow-xl border-2">
 <div class=" mt-10  flex justify-center w-[240px] h-[200px]  bg-gray-100 rounded-full" style="z-index: 0;" >
  <img loading="lazy" src="/assets/img/instructor-example.png" class= " -mt-10 w-[300px] h-[250px] " style="z-index: 1;"/>
 </div>
 <div class="mt-4 text-indigo-900 text-2xl font-bold">Engin Demiroğ</div>
 <div class="mt-2 text-indigo-600 text-xl ">Kodlama io</div>
</div>
<div class="flex flex-col items-center w-[300px] h-[370px] px-4 py-4 border-gray-300 rounded-xl shadow-xl border-2">
  <div class=" mt-10  flex justify-center w-[240px] h-[200px]  bg-gray-100 rounded-full" style="z-index: 0;" >
   <img loading="lazy" src="/assets/img/instructor-example.png" class= " -mt-10 w-[300px] h-[250px]" style="z-index: 1;"/>
  </div>
  <div class="mt-4 text-indigo-900 text-2xl font-bold">Engin Demiroğ</div>
  <div class="mt-2 text-indigo-600 text-xl ">Kodlama io</div>
 </div>
 <div class="flex flex-col items-center w-[300px] h-[370px] px-4 py-4 border-gray-300 rounded-xl shadow-xl border-2">
  <div class=" mt-10  flex justify-center w-[240px] h-[200px]  bg-gray-100 rounded-full" style="z-index: 0;" >
   <img loading="lazy" src="/assets/img/instructor-example.png" class= " -mt-10 w-[300px] h-[250px]" style="z-index: 1;"/>
  </div>
  <div class="mt-4 text-indigo-900 text-2xl font-bold">Engin Demiroğ</div>
  <div class="mt-2 text-indigo-600 text-xl ">Kodlama io</div>
 </div>
 <div class="flex flex-col items-center w-[300px] h-[370px] px-4 py-4 border-gray-300 rounded-xl shadow-xl border-2">
  <div class=" mt-10  flex justify-center w-[240px] h-[200px]  bg-gray-100 rounded-full" style="z-index: 0;" >
   <img loading="lazy" src="/assets/img/instructor-example.png" class= " -mt-10 w-[300px] h-[250px]" style="z-index: 1;"/>
  </div>
  <div class="mt-4 text-indigo-900 text-2xl font-bold">Engin Demiroğ</div>
  <div class="mt-2 text-indigo-600 text-xl ">Kodlama io</div>
 </div>
 <div class="flex flex-col items-center w-[300px] h-[370px] px-4 py-4 border-gray-300 rounded-xl shadow-xl border-2">
  <div class=" mt-10  flex justify-center w-[240px] h-[200px]  bg-gray-100 rounded-full" style="z-index: 0;" >
   <img loading="lazy" src="/assets/img/instructor-example.png" class= " -mt-10 w-[300px] h-[250px]" style="z-index: 1;"/>
  </div>
  <div class="mt-4 text-indigo-900 text-2xl font-bold">Engin Demiroğ</div>
  <div class="mt-2 text-indigo-600 text-xl ">Kodlama io</div>
 </div>
 <div class="flex flex-col items-center w-[300px] h-[370px] px-4 py-4 border-gray-300 rounded-xl shadow-xl border-2">
  <div class=" mt-10  flex justify-center w-[240px] h-[200px]  bg-gray-100 rounded-full" style="z-index: 0;" >
   <img loading="lazy" src="/assets/img/instructor-example.png" class= " -mt-10 w-[300px] h-[250px]" style="z-index: 1;"/>
  </div>
  <div class="mt-4 text-indigo-900 text-2xl font-bold">Engin Demiroğ</div>
  <div class="mt-2 text-indigo-600 text-xl ">Kodlama io</div>
 </div>
 <div class="flex flex-col items-center w-[300px] h-[370px] px-4 py-4 border-gray-300 rounded-xl shadow-xl border-2">
  <div class=" mt-10  flex justify-center w-[240px] h-[200px]  bg-gray-100 rounded-full" style="z-index: 0;" >
   <img loading="lazy" src="/assets/img/instructor-example.png" class= " -mt-10 w-[300px] h-[250px]" style="z-index: 1;"/>
  </div>
  <div class="mt-4 text-indigo-900 text-2xl font-bold">Engin Demiroğ</div>
  <div class="mt-2 text-indigo-600 text-xl ">Kodlama io</div>
 </div>

</div>
