<div class="relative flex">

  <div class="flex flex-col">
    <img loading="lazy" src="/assets/img/fixed-top.svg" class="mt-4" style="z-index: 0" />
    <img loading="lazy" src="/assets/img/fixed-top.svg" class="sm:hidden" style="z-index: 0" />

  </div>

  <div
    class="flex flex-row ml-12  absolute top-8 md:top-12 md:ml-24 lg:ml-36 2xl:ml-60 2xl:mt-10 gap-3 font-semibold 2xl:text-xl"
    style="z-index: 1;">


    <div class="flex gap-3 mt-2  leading-7 whitespace-nowrap font-semibold">
      <div class="text-indigo-950">Profilim</div>
      <div class="text-gray-400">></div>
      <div class="text-indigo-600">Profilimi Güncelle</div>
    </div>
  </div>
</div>

<div class="flex justify-center mt-16 mb-32">

  <form [formGroup]="applicantUpdateForm" (submit)="onSubmit()">
    <div
      class="flex flex-col justify-center px-12 pt-8 pb-12 text-base rounded-lg border border-solid bg-slate-50 border-neutral-200 max-w-[690px] max-md:px-5">
      <div class="text-4xl font-bold leading-10 text-slate-900 max-md:max-w-full">
        Profilim
      </div>

      <div class="mt-4 leading-7 text-gray-500 max-md:max-w-full">
        Tüm profil bilgilerini buradan güncelleyebilirsin.
        <br>
        Şifreni güncellemek için sayfanın altındaki bölümü kullanabilirsin.

      </div>

      <div class="flex gap-4 mt-6 max-md:flex-wrap max-md:mt-10 max-md:mr-1.5">
        <div class="flex flex-col flex-1 grow shrink-0 basis-0 w-fit">
          <div class="text-lg font-bold leading-5 text-slate-900">

            <label for="firstName">Adınız</label>
          </div>
          <input formControlName="firstName" id="firstName" name="firstName"
            class="form-control justify-center items-start px-5 py-3 mt-2.5 text-base text-black capitalize bg-white rounded-md border border-solid border-neutral-200 max-md:px-5"
            type="text" placeholder="Ad yazınız . . ." />
          <div *ngIf="submitted && applicantUpdateForm.get('firstName').invalid" class="error-message">
            <div *ngIf="applicantUpdateForm.get('firstName').hasError('required')">
              İsim alanı zorunludur.
            </div>
            <div *ngIf="applicantUpdateForm.get('firstName').hasError('pattern')">
              İsim yalnızca harflerden oluşabilir.
            </div>
            <div *ngIf="applicantUpdateForm.get('firstName').hasError('minlength')">
              İsim alanı en az 2 karakter olmalıdır.
            </div>
          </div>
        </div>

        <div class="flex flex-col flex-1 grow shrink-0 basis-0 w-fit">
          <div class="text-lg font-bold leading-5 text-slate-900">
            <label for="lastName">Soyadınız</label>
          </div>

          <input formControlName="lastName" id="lastName" name="lastName"
            class="form-control justify-center items-start px-5 py-3 mt-2.5 text-base text-black capitalize bg-white rounded-md border border-solid border-neutral-200 max-md:px-5"
            type="text" placeholder="Soyad yazınız . . ." />
          <div *ngIf="submitted && applicantUpdateForm.get('lastName').invalid" class="error-message">
            <div *ngIf="applicantUpdateForm.get('lastName').hasError('required')">
              Soyadı alanı zorunludur.
            </div>
            <div *ngIf="applicantUpdateForm.get('lastName').hasError('pattern')">
              Soyadı yalnızca harflerden oluşabilir.
            </div>
            <div *ngIf="applicantUpdateForm.get('lastName').hasError('minlength')">
              Soyadı en az 2 harfli olmalı.
            </div>
          </div>
        </div>

      </div>

      <div class="mt-4 text-lg font-bold leading-5 text-slate-900 max-md:mt-10 max-md:max-w-full">
        <label for="userName">Kullanıcı Adı</label>
      </div>
      <input formControlName="userName" id="userName" name="userName" type="text"
        placeholder="Kullanıcı adı yazınız . . ."
        class="form-control justify-center items-start px-5 py-3 mt-2.5 text-black whitespace-nowrap bg-white rounded-md border border-solid border-neutral-200 max-md:px-5 max-md:max-w-full" />
      <div *ngIf="submitted && applicantUpdateForm.get('userName').invalid" class="error-message">
        <div *ngIf="applicantUpdateForm.get('userName').hasError('required')">
          Kullanıcı adı zorunludur.
        </div>
        <div *ngIf="applicantUpdateForm.get('userName').hasError('minlength')">
          Kullanıcı adı en az 4 karakter olmalıdır.
        </div>
      </div>
      <div class="mt-4 text-lg font-bold leading-5 text-slate-900 max-md:mt-10 max-md:max-w-full">
        <label for="email">Email</label>
      </div>
      <input formControlName="email" id="email" name="email" type="email" placeholder="Email yazınız . . ."
        class="form-control justify-center items-start px-5 py-3 mt-2.5 text-black whitespace-nowrap bg-white rounded-md border border-solid border-neutral-200 max-md:px-5 max-md:max-w-full" />
      <div *ngIf="submitted && applicantUpdateForm.get('email').invalid" class="error-message">
        <div *ngIf="applicantUpdateForm.get('email').hasError('required')">
          Email alanı zorunludur.
        </div>
        <div *ngIf="applicantUpdateForm.get('email').hasError('email')">
          Email alanı email formatında olmak zorundadır.
        </div>
      </div>
      <div class="mt-4 text-lg font-bold leading-5 text-slate-900 max-md:mt-10 max-md:max-w-full">
        <label for="nationalIdentity">T.C. Kimlik No</label>
      </div>
      <input formControlName="nationalIdentity" id="nationalIdentity" name="nationalIdentity" type="text"
        placeholder="T.C. kimlik yazınız . . ."
        class="form-control justify-center items-start px-5 py-3 mt-2.5 text-black whitespace-nowrap bg-white rounded-md border border-solid border-neutral-200 max-md:px-5 max-md:max-w-full" />
      <div *ngIf="submitted && applicantUpdateForm.get('nationalIdentity').invalid" class="error-message">
        <div *ngIf="applicantUpdateForm.get('nationalIdentity').hasError('required')">
          Kimlik alanı zorunludur.
        </div>
        <div *ngIf="applicantUpdateForm.get('nationalIdentity').hasError('minlength')">
          Kimlik numarası en az 11 haneden oluşmalıdır.
        </div>
        <div *ngIf="applicantUpdateForm.get('nationalIdentity').hasError('pattern')">
          Kimlik numarası sadece sayılardan oluşabilir.
        </div>
      </div>
      <div class="mt-4 text-lg font-bold leading-5 text-slate-900 max-md:mt-10 max-md:max-w-full">
        <label for="dateOfBirth">Doğum Tarihi</label>
      </div>
      <input formControlName="dateOfBirth" id="dateOfBirth" name="dateOfBirth" type="date"
        placeholder="Doğum tarihinizi giriniz . . ."
        class="form-control justify-center items-start px-5 py-3 mt-2.5 text-black whitespace-nowrap bg-white rounded-md border border-solid border-neutral-200 max-md:px-5 max-md:max-w-full" />
      <div *ngIf="submitted && applicantUpdateForm.get('nationalIdentity').invalid" class="error-message">
        <div *ngIf="applicantUpdateForm.get('dateOfBirth').hasError('required')">
          Doğum tarihi boş bırakılamaz.
        </div>
      </div>
      <div class="mt-4 text-lg font-bold leading-5 text-slate-900 max-md:mt-10 max-md:max-w-full">
        <label for="about">Hakkımda</label>
      </div>
      <textarea formControlName="about" id="about" name="about" placeholder="Hakkımda . . ."
        class="form-control justify-center items-start px-5 py-3 mt-2.5 text-black whitespace-nowrap bg-white rounded-md border border-solid border-neutral-200 max-md:px-5 max-md:max-w-full">
    </textarea>

      <button type="submit"
        class="flex justify-center items-center px-16 py-3 mt-16 font-bold text-center text-black capitalize bg-amber-400 border-2 border-black border-solid shadow-sm leading-[112%] rounded-[50px] max-md:px-5 max-md:mt-10 max-md:max-w-full"
        style="box-shadow: 8.799px 8.799px 0px 0px black;">
        <div class="flex gap-3 text-xl">
          <div>Güncelle</div>
          <img loading="lazy" src="/assets/img/for-all-butons.svg" />
        </div>
      </button>
    </div>
  </form>
</div>