<div class="flex flex-col justify-end gap-14 mt-0 md:mt-20 lg:mt-20">
  <div class="flex flex-row gap-[10px] md:gap-[80px] lg:gap-[120px]">
    <ng-container *ngFor="let instructor of instructorList.items | slice : 0 : 2">
      <div class="flex flex-row w-1/2 max-md:flex-col max-md:gap-0">
        <img loading="lazy" src="{{ instructor.instructorImagePath }}" class="w-[150px] h-[150px]" />
        <div class="flex flex-col w-1/2 max-md:ml-0 max-md:w-full">
          <div class="flex flex-col self-stretch px-5 my-auto">
            <div class="text-2xl font-semibold leading-7 text-slate-900">
              {{ instructor.firstName }} {{ instructor.lastName }}
            </div>
            <div class="mt-2.5 text-md leading-2 text-indigo-600">
              {{ instructor.companyName }}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="flex flex-row gap-[10px] md:gap-[180px] lg:gap-[180px]">
    <ng-container *ngFor="let instructor of instructorList.items | slice : 2 : 4">
      <div class="flex flex-row w-1/2 max-md:flex-col max-md:gap-0">
        <img loading="lazy" src="{{ instructor.instructorImagePath }}" class="w-[150px] h-[150px]" />
        <div class="flex flex-col w-1/2 max-md:ml-0 max-md:w-full">
          <div class="flex flex-col self-stretch px-5 my-auto">
            <div class="text-2xl font-semibold leading-7 text-slate-900">
              {{ instructor.firstName }} {{ instructor.lastName }}
            </div>
            <div class="mt-2.5 text-md leading-2 text-indigo-600">
              {{ instructor.companyName }}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>