
    <div class="flex flex-col px-24 sm:flex-row mt-48 bg-violet-950 w-full pt-2 pb-8 justify-around 
    
    2xl:justify-center 2xl:gap-40 ">
   
             
                <div class="flex flex-col pr-10 text-base font-base  text-slate-300 mt-3 ">
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/2bb59224c7fc837a9c810910d2f7dc0491c104ecd19ecb956b276144fbb270ce?apiKey=d64f73725dfb4ccb8c714d58677398b5&"
                    class="max-w-full aspect-[4.17] w-[156px]"
                  />
                  <div class="mt-4 ">
                    when an unknown printer took galley of
                    <br />
                    type and scrambled it to make pspecimen
                    <br />
                    bookt has.
                  </div>
                  <div class="mt-4">463 7th Ave, NY 10018, USA</div>
                  <div class="mt-2">+123 88 9900 456</div>
                </div>
              
            
                <div class="flex flex-col text-base text-slate-300 mt-3">
                  <div class="text-xl font-semibold text-white">
                    Useful Links
                  </div>
                  <div class=" mt-2 -mr-1 h-1 bg-indigo-600 rounded-sm w-[53px]"> </div>
                  <div class="mt-3 ">Our values</div>
                  <div class="mt-1">Our advisory board</div>
                  <div class="mt-1">Our partners</div>
                  <div class="mt-1">Become a partner</div>
                  <div class="mt-1">Work at Future Learn</div>
                  <div class="mt-1">Quizlet Plus</div>
               
                </div>
   
             
                <div class="flex flex-col  text-slate-300 ">
                  <div class="text-xl font-semibold mt-3  text-white"> Our Company </div>
                  <div class=" mt-2 -mr-1 h-1 bg-indigo-600 rounded-sm w-[53px]"></div>
                  <div class="mt-3">Contact Us</div>
                  <div class="mt-1">Become Teacher</div>
                  <div class="mt-1">Blog</div>
                  <div class="mt-1">Instructor</div>
                  <div class="mt-1">Events</div>
                </div>
              
              
                <div class="flex flex-col mt-3 ">
                  <div class="text-xl font-semibold text-white">Get In Touch</div>
                  <div class=" mt-2 -mr-1 h-1 bg-indigo-600 rounded-sm w-[53px]" ></div>
                  <div class="mt-3 text-base text-slate-300">
                    when an unknown printer took
                    <br />
                    galley type and scrambled
                  </div>
                  <div class="flex gap-4 items-start mt-5 max-md:pr-5">
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/4517d05d2414c3013c36473649381d9c0e37b9e628592799c1c4d23c4c1303f0?apiKey=d64f73725dfb4ccb8c714d58677398b5&"
                      class="shrink-0 self-stretch w-2 aspect-[0.47]"
                    />
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/a07d1c85d600a490b3861816829f24fb880425d47aa9928494343098a56e37c6?apiKey=d64f73725dfb4ccb8c714d58677398b5&"
                      class="shrink-0 w-4 aspect-[1.06]"
                    />
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/6d56205639cdd017fd34c5659834960bba67a4a5355489baacb19a93950c368a?apiKey=d64f73725dfb4ccb8c714d58677398b5&"
                      class="shrink-0 aspect-square w-[15px]"
                    />
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/89769c05277e8cec4c9e0d184248096a2fdf9a14320863bd4d403fe24c33bb71?apiKey=d64f73725dfb4ccb8c714d58677398b5&"
                      class="shrink-0 aspect-square w-[15px]"
                    />
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/548be154863dc5e2ee7bd8051da65d836ee5561343d46d5cf0ff908b23310e1b?apiKey=d64f73725dfb4ccb8c714d58677398b5&"
                      class="shrink-0 self-stretch aspect-[1.23] w-[21px]"
                    />
                  </div>
                  <div class="flex gap-2 -ml-1 mt-6">
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/648803d0f6f76bdb052f47ab29b0e003fa53b921d801207721e685441678af5c?apiKey=d64f73725dfb4ccb8c714d58677398b5&"
                      class="shrink-0 max-w-full aspect-[3.03] w-[157px]"
                    />
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/44f837cbfd7318f6800485b95c3df39e2e9759fa6715c4ff95fe750509bdc909?apiKey=d64f73725dfb4ccb8c714d58677398b5&"
                      class="shrink-0 max-w-full aspect-[3.13] w-[161px]"
                    />
                  </div>
                </div>
              
            </div>
    


    <div class="flex justify-center items-center px-16 py-2 w-full text-base bg-indigo-950 text-slate-400 ">
      <div class="flex gap-5 w-full max-w-[1408px] max-md:flex-wrap max-md:max-w-full">
        <div class="flex-auto">
          © 2010-2024 skillgro.com. All rights reserved.
        </div>
        <div class="flex gap-4 self-start">
          <div class="grow">Term of Use</div>
          <div class="shrink-0 self-start mb-2 w-px bg-slate-400 h-[22px]"></div>
          <div class="flex-auto">Privacy Policy</div>
        </div>
      </div>
    </div>
 