<div class="flex flex-col px-16 md:px-24 sm:flex-row mt-48 bg-violet-950 w-full pt-2 pb-8 justify-around 
    
    2xl:justify-center 2xl:gap-40 ">


  <div class="flex flex-col pr-10 text-base font-base  text-slate-300 mt-3 ">
    <img loading="lazy" routerLink="/homepage" src="/assets/img/techventure-white.png"
      class="max-w-full  w-[156px] hover:cursor-pointer" />
    <div class="mt-2 ">
      Bize aşağıda yer alan adres
      <br />
      ve telefon aracılığıyla ulaşabilirsin
      <br />
      En kısa sürede dönüş sağlanacaktır
    </div>
    <div class="mt-4">35. Cadde No:52, İstanbul, TR</div>
    <div class="mt-2">+123 88 9900 456</div>
  </div>


  <div class="flex flex-col text-base text-slate-300 mt-3">
    <div class="text-xl font-semibold text-white">
      Faydalı Linkler
    </div>
    <div class=" mt-2 -mr-1 h-1 bg-indigo-600 rounded-sm w-[53px]"> </div>
    <div class="mt-3 ">Değerlerimiz</div>
    <div class="mt-1">Vizyonumuz</div>
    <div class="mt-1">Misyonumuz</div>
    <div class="mt-1">Partner Ol</div>
    <div class="mt-1">KVKK</div>
    <div class="mt-1">Kaynaklar</div>

  </div>


  <div class="flex flex-col  text-slate-300 ">
    <div class="text-xl font-semibold mt-3  text-white"> Platformumuz </div>
    <div class=" mt-2 -mr-1 h-1 bg-indigo-600 rounded-sm w-[53px]"></div>
    <div class="mt-3">İletişim</div>
    <div class="mt-1">Tarihçe</div>
    <div class="mt-1">Blog</div>
    <div class="mt-1">Eğitmen</div>
    <div class="mt-1">Etkinlik</div>
  </div>


  <div class="flex flex-col mt-3 ">
    <div class="text-xl font-semibold text-white">Sosyal Medya</div>
    <div class=" mt-2 -mr-1 h-1 bg-indigo-600 rounded-sm w-[53px]"></div>
    <div class="mt-3 text-base text-slate-300">
      Tüm etkinlik ve duyurulardan anında
      <br />
      haberdar olmak için takip etmeyi unutma
    </div>
    <div class="flex gap-4 items-start mt-5 max-md:pr-5">
      <img loading="lazy" src="/assets/img/footer-facebook-icon.svg" class="shrink-0 self-stretch w-2 aspect-[0.47]" />
      <img loading="lazy" src="/assets/img/footer-twitter-icon.svg" class="shrink-0 w-4 aspect-[1.06]" />
      <img loading="lazy" src="/assets/img/footer-whatsapp-icon.svg" class="shrink-0 aspect-square w-[15px]" />
      <img loading="lazy" src="/assets/img/footer-instagram-icon.svg" class="shrink-0 aspect-square w-[15px]" />
      <img loading="lazy" src="/assets/img/footer-youtube-icon.svg"
        class="shrink-0 self-stretch aspect-[1.23] w-[21px]" />
    </div>
    <div class="flex gap-2 -ml-1 mt-6">
      <img loading="lazy" src="/assets/img/footer-googleplay.svg" class="shrink-0 max-w-full aspect-[3.03] w-[157px]" />
      <img loading="lazy" src="/assets/img/footer-appstore.svg" class="shrink-0 max-w-full aspect-[3.13] w-[161px]" />
    </div>
  </div>

</div>



<div class="flex justify-center items-center px-16 py-2 w-full text-base bg-indigo-950 text-slate-400 ">
  <div class="flex gap-5 w-full max-w-[1408px] max-md:flex-wrap max-md:max-w-full">
    <div class="flex-auto">
      © 2023-2024 techventure.com. Tüm Haklarımız Saklıdır
    </div>
    <div class="flex gap-4 self-start">
      <div class="grow">Kullanım Koşulları</div>
      <div class="shrink-0 self-start mb-2 w-px bg-slate-400 h-[22px]"></div>
      <div class="flex-auto">Gizlilik Politikası</div>
    </div>
  </div>
</div>