<section
  class="ticker-wrap flex justify-center items-center px-0 bg-indigo-700 max-md:px-5 mt-20"
>
  <div
    class="ticker flex flex-row flex-wrap md:flex-nowrap lg:flex-nowrap gap-5 justify-center items-center w-full"
  >
    <ng-container *ngFor="let company of companies; let i = index">
      <figure class="flex justify-center items-center px-3 py-2">
        <img
          src="{{ company.imageUrl }}"
          alt="{{ company.name }}"
          class="w-40 {{ company.extraClasses }}"
        />
      </figure>
    </ng-container>
  </div>
</section>
