<div class="flex flex-col justify-center items-center mt-16 w-full p-8">
  <div class="flex justify-center">
    <div
      class="hp2a bg-[#efeefe] text-[#5751e1] w-40 text-center p-2 rounded-[32px]"
    >
      Our Top Features
    </div>
  </div>
  <div
    class="text-[#161439] text-center capitalize mt-10 font-bold text-4xl tracking-[-0.82px]" 
  >
    Achieve Your Goal With SkillGrow
  </div>
  <div class="hp2c text-[#6d6c80] text-center mt-10">
    Lorem Ipsum is simply dummy text of the printing and typesetting
  </div>


    <div class="flex flex-row gap-16 px-10">
      <div class="flex flex-col homepage-feature-card-1">
        <div class="flex flex-row px-4 mt-3 flex-1 gap-5">
          <img loading="lazy" src="assets/img/homepage-feature-card-1.svg" />
          <div class=" font-bold text-xl self-center"  >Uzman Eğitmenler</div>
          <img loading="lazy" src="/assets/img/homepage-feature-card-star.svg"/>
        </div>
        <div class="flex -mt-4 ml-8 pb-6">Lorem Ipsum Is Simply 
          <br> The Printing And Typesetting </div>
   
      </div>
      <div class="flex flex-col homepage-feature-card-2">
        <div class="flex flex-row px-4 mt-5 flex-1 gap-5">
          <img loading="lazy" src="assets/img/homepage-feature-card-2.svg" />
          <div class=" font-bold text-xl self-center"  >Eğitici İçerikler</div>
          <img loading="lazy" src="/assets/img/homepage-feature-card-star.svg"/>
        </div>
        <div class="flex -mt-3 ml-24 mt-3 pb-6">Lorem Ipsum Is Simply 
          <br> The Printing And Typesetting </div>
   
      </div>
      <div class="flex flex-col homepage-feature-card-3">
        <div class="flex flex-row px-4 mt-5 flex-1 gap-5">
          <img loading="lazy" src="assets/img/homepage-feature-card-3.svg" />
          <div class=" font-bold text-xl self-center"  >Sertifika Fırsatı</div>
          <img loading="lazy" src="/assets/img/homepage-feature-card-star.svg"/>
        </div>
        <div class="flex  ml-24 mt-4 pb-6">Lorem Ipsum Is Simply 
          <br> The Printing And Typesetting </div>
   
      </div>
      </div>
</div>
<style>
  .hp2a {
    background-color: #efeefe;
    color: #5751e1;
    font: 500 18px/162% Inter, sans-serif;
  }

  .hp2b {
    color: #161439;
    font: 600 40px/133% Poppins, sans-serif;
  }

  .hp2c {
    color: #6d6c80;
    font: 400 18px/31px Inter, sans-serif;
  }
 
</style>
<div>
  <img loading="lazy" src="assets/img/homepage-feature-card-1.svg" />
<div class=" font-bold text-xl self-center"  >Uzman Eğitmenler</div>
<img loading="lazy" src="assets/img/homepage-feature-card-star.svg"  class="w-[53px] h-[40px]"/>
</div>
