<div class="flex flex-col justify-center items-center mt-16 w-full p-8">
  <div class="flex justify-center">
    <div
      class="hp2a bg-[#efeefe] text-[#5751e1] w-40 text-center p-2 rounded-[32px]"
    >
      Our Top Features
    </div>
  </div>
  <div
    class="text-[#161439] text-center capitalize mt-10 font-bold text-4xl tracking-[-0.82px]"
  >
    Achieve Your Goal With SkillGrow
  </div>
  <div class="hp2c text-[#6d6c80] text-center mt-10">
    Lorem Ipsum is simply dummy text of the printing and typesetting
  </div>

  <div class="flex flex-col md:flex-row lg:flex-row gap-16 mt-10 px-32 w-full">
    <ng-container *ngFor="let card of featuredCards; let i = index">
      <div class="homepage-feature-card-{{ i + 1 }} flex flex-col w-1/3 ml-0">
        <div
          class="flex flex-row justify-center items-center mt-5 flex-1 gap-5"
        >
          <img loading="lazy" src="{{ card.imagePath }}" />
          <div class="font-bold text-xl">{{ card.title }}</div>
          <img
            loading="lazy"
            src="/assets/img/homepage-feature-card-star.svg"
          />
        </div>
        <div class="capitalize mt-6">{{ card.description }}</div>
      </div>
    </ng-container>
  </div>
</div>
