<div class="flex flex-col justify-center items-center mt-16 w-full p-8">
  <div class="flex justify-center">
    <div class="hp2a bg-[#efeefe] text-[#5751e1] w-40 text-center p-2 rounded-[32px]">
      Şimdi Keşfet
    </div>
  </div>
  <div class="text-[#161439] text-center capitalize mt-10 font-bold text-4xl tracking-[-0.82px]">
    Hayalindeki Kariyere TechVenture İle Ulaş
  </div>
  <div class="hp2c text-[#6d6c80] text-center mt-10">
    TechVenture'da seni neler bekliyor beraber keşfedelim
    <br>
    Alanında uzman eğitmenlerle bir araya gelerek kariyerini şekillendirebilirsin
  </div>


  <div class="flex flex-col lg:flex-row gap-16 px-10 mt-16 2xl:gap-32">

    <div
      class="flex flex-col px-4 py-4 homepage-feature-card-1 w-[340px] h-[180px] 2xl:w-[420px] 2xl:h-[220px] 2xl:p-10">
      <div class="flex flex-row">
        <img loading="lazy" src="assets/img/homepage-feature-card-1.svg" />
        <div class=" font-bold text-xl self-center ml-4 ">Uzman Eğitmenler</div>
        <img loading="lazy" src="assets/img/homepage-feature-card-star.svg" class="w-[53px] h-[40px] ml-6" />
      </div>
      <div class="pl-4 mt-2 "> Seçkin eğitmenlerimiz sayesinde öğrenme sürecini hızlandırıyoruz.
      </div>
    </div>

    <div
      class="flex flex-col px-4 py-4 homepage-feature-card-2 w-[340px] h-[180px] 2xl:w-[420px] 2xl:h-[220px] 2xl:p-10">
      <div class="flex flex-row">
        <img loading="lazy" src="assets/img/homepage-feature-card-2.svg" />
        <div class=" font-bold text-xl self-center ml-4 ">Eğitici İçerikler</div>
        <img loading="lazy" src="assets/img/homepage-feature-card-star.svg" class="w-[53px] h-[40px] ml-6" />
      </div>
      <div class="pl-4 mt-2 "> Geniş kapsamlı içeriklerimizle yeni kariyerinde sağlam temeller atacaksın.
      </div>
    </div>

    <div
      class="flex flex-col px-4 py-4 homepage-feature-card-3 w-[340px] h-[180px] 2xl:w-[420px] 2xl:h-[220px] 2xl:p-10">
      <div class="flex flex-row">
        <img loading="lazy" src="assets/img/homepage-feature-card-3.svg" />
        <div class=" font-bold text-xl self-center ml-4 ">Sertifika Fırsatı</div>
        <img loading="lazy" src="assets/img/homepage-feature-card-star.svg" class="w-[53px] h-[40px] ml-6" />
      </div>
      <div class="pl-4 mt-2 "> Başarıyla tamamladığınız her bootcamp sonunda sertifika
        kazanabilirsin.</div>
    </div>



  </div>



</div>


<style>
  .hp2a {
    background-color: #efeefe;
    color: #5751e1;
    font: 500 18px/162% Inter, sans-serif;
  }

  .hp2b {
    color: #161439;
    font: 600 40px/133% Poppins, sans-serif;
  }

  .hp2c {
    color: #6d6c80;
    font: 400 18px/31px Inter, sans-serif;
  }
</style>