@tailwind base;

@layer base {

    .no-tailwindcss-base,
    .no-tailwindcss-base *,
    .no-tailwindcss-base>* {
        all: unset;
        font-size: revert;
        font-weight: revert;
        font-family: revert;
        color: revert;
        margin: revert;
        display: revert;
        vertical-align: revert;
        max-width: revert;
        height: revert;
        border-width: revert;
        border-style: revert;
        border-color: revert;
        outline: revert;
        list-style: revert;
        padding: revert;
    }
}

@tailwind components;
@tailwind utilities;