<div class="container mx-auto">
  <h1 class="text-3xl font-bold mb-4">Sorular</h1>

  <div *ngFor="let question of quizQuestionList.items" class="mb-8">
    <div class="bg-gray-100 p-4 rounded-lg shadow-md">
      <p class="text-lg font-semibold mb-2">Quiz Id = {{ question.quizId }}</p>
      <p class="text-lg font-semibold mb-2">Soru Id = {{ question.questionId }}</p>
      <p class="text-lg font-semibold mb-2">{{ question.questionText }}</p>
      <ul  class="mt-2">
        <li  class="mb-2">A) {{ question.questionAnswerA }}</li>
        <li  class="mb-2">B) {{ question.questionAnswerB }}</li>
        <li  class="mb-2">C) {{ question.questionAnswerC }}</li>
        <li  class="mb-2">D) {{ question.questionAnswerD }}</li>
      </ul>
    </div>
  </div>
</div>

<nav *ngIf="quizQuestionList.pages > 1" class="flex justify-center">
  <ul class="pagination flex flex-col md:flex-row">
    <li [class.disabled]="!quizQuestionList.hasPrevious" class="mr-2 mb-2 md:mb-0">
      <button (click)="setCurrentPageNumber(currentPageNumber)"
              [disabled]="!quizQuestionList.hasPrevious"
              [ngClass]="{'bg-gray-200 text-gray-600 cursor-not-allowed': !quizQuestionList.hasPrevious,
                          'bg-green-500 hover:bg-green-600 text-white': quizQuestionList.hasPrevious}"
              class="px-4 py-2 rounded-lg">
        Önceki Sayfa
      </button>
    </li>
    <li [class.disabled]="!quizQuestionList.hasNext" class="mr-2">
      <button (click)="setCurrentPageNumber(currentPageNumber + 2)"
              [disabled]="!quizQuestionList.hasNext"
              [ngClass]="{'bg-gray-200 text-gray-600 cursor-not-allowed': !quizQuestionList.hasNext,
                          'bg-green-500 hover:bg-green-600 text-white': quizQuestionList.hasNext}"
              class="px-4 py-2 rounded-lg">
        Sonraki Sayfa
      </button>
    </li>
  </ul>
</nav>