 <!-- Table content -->
 <div class="overflow-x-auto max-w-full">
    <table class="min-w-full">
      <thead>
        <tr>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Quiz Id</th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Question Id</th>     
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let quizQuestions of quizQuestionList.items">
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200 col-span-3">{{ quizQuestions.quizId}}</td>
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">{{ quizQuestions.questionId }}</td>
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
          </td>
        </tr>
      </tbody>
    </table>
  </div>