<!-- Modal for Update -->
<form [formGroup]="questionUpdateForm" (ngSubmit)="update()">
    <div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="showUpdateModal">
    <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>
      <!-- Modal content -->
      <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="mb-4">
                <label for="bootcampId" class="block text-gray-700 text-sm font-bold mb-2">Bootcamp:</label>
                <select formControlName="bootcampId" id="bootcampId" class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                  <option *ngFor="let bootcamp of bootcampList.items" [value]="bootcamp.id">{{ bootcamp.name }} </option>
                </select>
                <div
                *ngIf="submitted && questionUpdateForm.get('bootcampId').invalid"
                class="error-message"
              >
                <div *ngIf="questionUpdateForm.get('bootcampId').hasError('required')">
                  Bu alan zorunludur.
                </div>
                </div>
              </div> 
              <div class="mb-4">
                <label for="Soru" class="block text-gray-700 text-sm font-bold mb-2">Soru</label>
                <textarea formControlName="text" id="Soru" class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
                <div
                *ngIf="submitted && questionUpdateForm.get('text').invalid"
                class="error-message"
              >
                <div *ngIf="questionUpdateForm.get('text').hasError('required')">
                  Bu alan zorunludur.
                </div>
                </div>
              </div>
              <div class="mb-4">
                <label for="A" class="block text-gray-700 text-sm font-bold mb-2">A Şıkkı:</label>
                <input formControlName="answerA" type="text" id="A" class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <div
                *ngIf="submitted && questionUpdateForm.get('answerA').invalid"
                class="error-message"
              >
                <div *ngIf="questionUpdateForm.get('answerA').hasError('required')">
                  Bu alan zorunludur.
                </div>
                </div>
              </div>
              <div class="mb-4">
                  <label for="B" class="block text-gray-700 text-sm font-bold mb-2">B Şıkkı:</label>
                  <input formControlName="answerB" type="text" id="B" class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                  <div
                *ngIf="submitted && questionUpdateForm.get('answerB').invalid"
                class="error-message"
              >
                <div *ngIf="questionUpdateForm.get('answerB').hasError('required')">
                  Bu alan zorunludur.
                </div>
                </div>
                </div>
                <div class="mb-4">
                  <label for="C" class="block text-gray-700 text-sm font-bold mb-2">C Şıkkı:</label>
                  <input formControlName="answerC" type="text" id="C" class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                  <div
                  *ngIf="submitted && questionUpdateForm.get('answerC').invalid"
                  class="error-message"
                >
                  <div *ngIf="questionUpdateForm.get('answerC').hasError('required')">
                    Bu alan zorunludur.
                  </div>
                  </div>
                </div>
                <div class="mb-4">
                  <label for="D" class="block text-gray-700 text-sm font-bold mb-2">D Şıkkı:</label>
                  <input formControlName="answerD" type="text" id="D" class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                  <div
                  *ngIf="submitted && questionUpdateForm.get('answerD').invalid"
                  class="error-message"
                >
                  <div *ngIf="questionUpdateForm.get('answerD').hasError('required')">
                    Bu alan zorunludur.
                  </div>
                  </div>
                </div>
                <div class="mb-4">
                  <label for="correct" class="block text-gray-700 text-sm font-bold mb-2">Doğru Cevap:</label>
                  <input formControlName="correctAnswer" type="text" id="correct" class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                  <div
                  *ngIf="submitted && questionUpdateForm.get('correctAnswer').invalid"
                  class="error-message"
                  >
                  <div *ngIf="questionUpdateForm.get('correctAnswer').hasError('required')">
                    Bu alan zorunludur.
                  </div>
                  </div>
                 </div>         
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button  type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-500 text-base font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
            Güncelle
          </button>
          <button type="button" (click)="closeModal()" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
            İptal
          </button>        
        </div>
      </div>
    </div>
  </div>
</form>

   <!-- Table content -->
  <div class="overflow-x-auto max-w-full">
    <table class="min-w-full">
      <thead>
        <tr>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Bootcamp Adı</th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Soru</th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">A Şıkkı</th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">B Şıkkı</th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">C Şıkkı</th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">D Şıkkı</th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Doğru Cevap</th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Sil</th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Güncelle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let questions of questionList.items">
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200 col-span-3">{{ questions.bootcampName}}</td>
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">{{ getShortenedText(questions.text) }}</td>
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">{{ questions.answerA }}</td>
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">{{ questions.answerB }}</td>
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">{{ questions.answerC }}</td>
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">{{ questions.answerD }}</td>
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">{{ questions.correctAnswer }}</td>
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
            <button (click)="delete(questions.id)" class="px-3 py-1 bg-red-500 text-white rounded-md hover:bg-red-600 focus:outline-none focus:bg-red-600">
              Sil
            </button>
          </td>
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
            <button (click)="openUpdateModal(questions)" class="px-3 py-1 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
              Güncelle
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex justify-center mb-4">
    <button (click)="openAddModal()" class="px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 focus:outline-none focus:bg-green-600 mt-3">
      Yeni Soru Ekle
    </button>
  </div>
  
  <!-- Modal for Create -->
<form [formGroup]="questionCreateForm" (ngSubmit)="add()">
  <div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="showCreateModal">
  <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>

    <!-- Modal content -->
    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="mb-4">
            <label for="bootcampId" class="block text-gray-700 text-sm font-bold mb-2">Bootcamp:</label>
            <select formControlName="bootcampId" id="bootcampId" class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
              <option *ngFor="let bootcamp of bootcampList.items" [value]="bootcamp.id">{{ bootcamp.name }} </option>
            </select>
            <div
            *ngIf="submitted && questionCreateForm.get('bootcampId').invalid"
            class="error-message"
            >
            <div *ngIf="questionCreateForm.get('bootcampId').hasError('required')">
              Bu alan zorunludur.
            </div>
            </div>
          </div>
        <div class="mb-4">
          <label for="Soru" class="block text-gray-700 text-sm font-bold mb-2">Soru</label>
          <textarea formControlName="text" id="Soru" class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
          <div
          *ngIf="submitted && questionCreateForm.get('text').invalid"
          class="error-message"
          >
          <div *ngIf="questionCreateForm.get('text').hasError('required')">
            Bu alan zorunludur.
          </div>
          </div>
        </div>
          <div class="mb-4">   
          <label for="A" class="block text-gray-700 text-sm font-bold mb-2">A Şıkkı:</label>
          <input formControlName="answerA" type="text" id="A" class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <div
          *ngIf="submitted && questionCreateForm.get('answerA').invalid"
          class="error-message"
          >
          <div *ngIf="questionCreateForm.get('answerA').hasError('required')">
            Bu alan zorunludur.
          </div>
          </div>
        </div>
        <div class="mb-4">
            <label for="B" class="block text-gray-700 text-sm font-bold mb-2">B Şıkkı:</label>
            <input formControlName="answerB" type="text" id="B" class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <div
            *ngIf="submitted && questionCreateForm.get('answerB').invalid"
            class="error-message"
            >
            <div *ngIf="questionCreateForm.get('answerB').hasError('required')">
              Bu alan zorunludur.
            </div>
            </div>
          </div>
          <div class="mb-4">
            <label for="C" class="block text-gray-700 text-sm font-bold mb-2">C Şıkkı:</label>
            <input formControlName="answerC" type="text" id="C" class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <div
            *ngIf="submitted && questionCreateForm.get('answerC').invalid"
            class="error-message"
            >
            <div *ngIf="questionCreateForm.get('answerC').hasError('required')">
              Bu alan zorunludur.
            </div>
            </div>
          </div>
          <div class="mb-4">
            <label for="D" class="block text-gray-700 text-sm font-bold mb-2">D Şıkkı:</label>
            <input formControlName="answerD" type="text" id="D" class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <div
            *ngIf="submitted && questionCreateForm.get('answerD').invalid"
            class="error-message"
            >
            <div *ngIf="questionCreateForm.get('answerD').hasError('required')">
              Bu alan zorunludur.
            </div>
            </div>
          </div>
          <div class="mb-4">
            <label for="correct" class="block text-gray-700 text-sm font-bold mb-2">Doğru Cevap:</label>
            <input formControlName="correctAnswer" type="text" id="correct" class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <div
            *ngIf="submitted && questionCreateForm.get('correctAnswer').invalid"
            class="error-message"
            >
            <div *ngIf="questionCreateForm.get('correctAnswer').hasError('required')">
              Bu alan zorunludur.
            </div>
            </div>
          </div> 
        
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button  type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-500 text-base font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
          Ekle
        </button>
        <button type="button" (click)="closeModal()" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
          İptal
        </button>        
      </div>
    </div>
  </div>
</div>
</form>