<div
  class="flex flex-col md:flex-row lg:flex-row gap-16 mt-10 px-[200px] py-[50px] justify-between text-lg font-semibold max-md:max-w-full">
  <div class="flex flex-col">
    <div
      class="justify-center self-start px-5 py-3 font-medium text-indigo-600 bg-indigo-50 leading-[162%] rounded-[33.912px]">
      Uzman Eğitmenler
    </div>
    <div class="mt-7 text-4xl font-bold tracking-tighter capitalize leading-[54px] text-slate-900 max-md:max-w-full">
      Alanında Uzman &
      <br />
      Seçkin

      Eğitmen Kadromuz
    </div>
    <div class="text-balance mt-10 leading-6 text-gray-500 max-md:max-w-full">
      <p>
        Başarıya giden yolda size rehberlik edecek,
      </p>
      <p> bilgi ve deneyimleriyle geleceğinize yön verecek</p>
    </div>
    <div routerLink="/instructors"
      class=" flex flex-row gap-3 self-start px-8 py-5 mt-7 text-center text-white capitalize hover:cursor-pointer bg-indigo-700 shadow-sm leading-[112%] rounded-[56.52px] "
      style="box-shadow: 8.799px 8.799px 0px 0px black">
      <button class="">Tümünü Gör</button>
      <img loading="lazy" src="/assets/img/for-all-butons-white.svg" />
    </div>
  </div>
  <app-instructor-card></app-instructor-card>

</div>