<section class="flex gap-4">
    <!-- Instructor aside bileşeni -->
    <aside class="w-1/4 bg-gray-50 flex flex-col shadow-md p-2">
        <app-instructor ></app-instructor>
    </aside>

    <!-- Bootcamp bileşenleri -->
    <div class="flex-1 grid grid-cols-3 gap-6">
        <ng-container *ngFor="let bootcamp of bootcampList.items">
            <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-white relative p-4">
                <div class="p-8">
                    <a>
                        <h5 class="mb-2 text-2xl font-bold text-gray-900 dark:text-white text-center">{{ bootcamp.name }}</h5>
                    </a>
                    <p class="text-gray-700 dark:text-gray-400 mb-2 text-ellipsis">{{ bootcamp.bootcampStateName }}</p>

                    <div class="flex flex-col items-center mt-2">
                        <button [routerLink]="['/bootcampDetails', bootcamp.id.toString()]" type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-sm" [ngClass]="{'expired': isExpired(bootcamp.endDate), 'notExpired': !isExpired(bootcamp.endDate)}">
                            Bootcamp Detayları
                        </button>
                        <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                            Eğitmen: {{ bootcamp.instructorFirstName }} {{ bootcamp.instructorLastName }}
                        </p>
                    </div>

                    <div class="flex flex-col text-sm text-gray-500 dark:text-gray-300 absolute bottom-0 right-0 p-2">
                        <p>Başlangıç Tarihi: {{ bootcamp.startDate | date:'shortDate' }}</p>
                        <p>Bitiş Tarihi: {{ bootcamp.endDate | date:'shortDate' }}</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</section>

<div class="w-full flex justify-center my-4" *ngIf="bootcampList.hasNext || bootcampList.hasPrevious">
    <button *ngIf="bootcampList.hasPrevious" (click)="onPreviousPageClicked()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-2">
        Önceki Sayfa
    </button>
    <button *ngIf="bootcampList.hasNext" (click)="onViewMoreClicked()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-2">
        Sonraki Sayfa
    </button>
</div>
