<div class="wrapper">
  <!-- Content -->
  <div class="content">
    <!-- Sidebar -->
    <div class="sidebar bg-gray-700">
      <!-- Sidebar Content -->
      <div class="p-4">
        <button routerLink="admin-homepage"
          class="block w-full p-2 rounded mb-2 bg-gray-300 text-left hover:bg-gray-400 hover:text-black">
          <i class="fa-solid fa-house me-1"></i>
          <span class="inline-block">Ana Sayfa</span>
        </button>
           <!-- Bootcamp Tabloları Butonu -->
      <button class="block w-full p-2 rounded mb-2 bg-gray-300 text-left hover:bg-gray-400 hover:text-black" (click)="toggleBootcampDropDown()">
        <i class="fa-solid fa-laptop-code me-1"></i>
        <span class="inline-block">Bootcamp Tabloları</span> <span class="caret"></span>
      </button>
      <!-- Bootcamp Dropdown Menüsü -->
      <div class="dropdown-menu" [ngClass]="{'hidden': !isBootcampDropDownOpen}">
        <ul>
          <li><a class="block p-2 px-5 text-gray-800 hover:bg-gray-200" routerLink="admin-bootcamp">Bootcampler</a></li>
          <li><a class="block p-2 px-5 text-gray-800 hover:bg-gray-200" routerLink="bootcamp-contents">Bootcamp İçerikleri</a></li>
          <li><a class="block p-2 px-5 text-gray-800 hover:bg-gray-200" routerLink="bootcampState">Bootcamp Durumları</a></li>
        </ul>
      </div>
        <!-- Aday Tablosu Butonu -->
        <button class="block w-full p-2 rounded mb-2 bg-gray-300 text-left hover:bg-gray-400 hover:text-black"
        (click)="toggleApplicantDropDown()">
        <i class="fa-solid fa-users me-1"></i>
        <span class="inline-block">Aday Tabloları</span>
      </button>
      <!-- Dropdown Menüsü -->
      <div class="dropdown-menu" [ngClass]="{'hidden': !isApplicantDropDownOpen}">
        <ul>
          <li><a class="block p-2 px-5 text-gray-800 hover:bg-gray-200" routerLink="applicant">Adaylar</a></li>
          <li><a class="block p-2 px-5 text-gray-800 hover:bg-gray-200" routerLink="applicant-bootcamp-contents">Aday Bootcamp İçerikleri</a></li>
          <li><a class="block p-2 px-5 text-gray-800 hover:bg-gray-200" routerLink="application">Başvurular</a></li>
          <li><a class="block p-2 px-5 text-gray-800 hover:bg-gray-200" routerLink="applicationState">Başvuru Durumları</a></li>
          <li><a class="block p-2 px-5 text-gray-800 hover:bg-gray-200" routerLink="blacklist">Blacklist</a></li>
        </ul>
      </div>
        <!-- Çalışanlar Dropdown Menüsü -->
        <button class="block w-full p-2 rounded mb-2 bg-gray-300 text-left hover:bg-gray-400 hover:text-black"
          (click)="toggleDropdown()">
          <i class="fa-solid fa-table-list me-1"></i>
          <span class="inline-block">Çalışan Tabloları</span>
        </button>
        <!-- Dropdown Menüsü -->
        <div class="dropdown-menu" [ngClass]="{'hidden': !isDropdownOpen}">
          <ul>
            <li><a class="block p-2 px-5 text-gray-800 hover:bg-gray-200" routerLink="instructor">Eğitmenler</a></li>
            <li><a class="block p-2 px-5 text-gray-800 hover:bg-gray-200" routerLink="employee">Çalışanlar</a></li>
          </ul>
        </div>
        <!-- Quiz Tabloları Butonu -->
        <button class="block w-full p-2 rounded mb-2 bg-gray-300 text-left hover:bg-gray-400 hover:text-black"
          (click)="toggleQuizDropDown()">
          <i class="fa-solid fa-clipboard me-1"></i>
          <span class="inline-block">Quiz Tabloları</span>
        </button>
        <!-- Dropdown Menüsü -->
        <div class="dropdown-menu" [ngClass]="{'hidden': !isQuizDropDownOpen}">
          <ul>
            <li><a class="block p-2 px-5 text-gray-800 hover:bg-gray-200" routerLink="quiz">Quizler</a></li>
            <li><a class="block p-2 px-5 text-gray-800 hover:bg-gray-200" routerLink="quiz-questions">Quiz Soruları</a></li>
            <li><a class="block p-2 px-5 text-gray-800 hover:bg-gray-200" routerLink="questions">Sorular</a></li>
            <li><a class="block p-2 px-5 text-gray-800 hover:bg-gray-200" routerLink="result">Sonuçlar</a></li>
          </ul>
        </div>
        <!-- Resim Tabloları Butonu -->
        <button class="block w-full p-2 rounded mb-2 bg-gray-300 text-left hover:bg-gray-400 hover:text-black"
          (click)="toggleImageDropdown()">
          <i class="fa-solid fa-images me-1"></i>
          <span class="inline-block">Resim Tabloları</span>
        </button>
        <!-- Dropdown Menüsü -->
        <div class="dropdown-menu" [ngClass]="{'hidden': !isImageDropdownOpen}">
          <ul>
            <li><a class="block p-2 px-5 text-gray-800 hover:bg-gray-200" routerLink="bootcamp-image">Bootcamp Resimleri</a></li>
            <li><a class="block p-2 px-5 text-gray-800 hover:bg-gray-200" routerLink="instructor-image">Eğitmen Resimleri</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Main Content -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
