 <!-- Modal for Create -->
<form [formGroup]="applicantUpdateForm" (ngSubmit)="update()">
    <div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="showUpdateModal">
    <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>
  
      <!-- Modal content -->
      <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="mb-4">
            <label for="userName" class="block text-gray-700 text-sm font-bold mb-2">Kullanıcı Adı:</label>
            <input formControlName="userName" type="text" id="userName" class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <div
            *ngIf="submitted && applicantUpdateForm.get('userName').invalid"
            class="error-message"
          >
            <div *ngIf="applicantUpdateForm.get('userName').hasError('required')">
              Kullanıcı adı zorunludur.
            </div>
            <div *ngIf="applicantUpdateForm.get('userName').hasError('minlength')">
              Kullanıcı adı en az 4 karakter olmalıdır.
            </div>
          </div>
          </div> 
          <div class="mb-4">
            <label for="firstName" class="block text-gray-700 text-sm font-bold mb-2">İsim:</label>
            <input formControlName="firstName" type="text" id="firstName" class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <div
            *ngIf="submitted && applicantUpdateForm.get('firstName').invalid"
            class="error-message"
          >
            <div *ngIf="applicantUpdateForm.get('firstName').hasError('required')">
              İsim alanı zorunludur.
            </div>
            <div *ngIf="applicantUpdateForm.get('firstName').hasError('pattern')">
              İsim yalnızca harflerden oluşabilir.
            </div>
            <div *ngIf="applicantUpdateForm.get('firstName').hasError('minlength')">
              İsim alanı en az 2 karakter olmalıdır.
            </div>
          </div>
          </div> 
          <div class="mb-4">
            <label for="lastName" class="block text-gray-700 text-sm font-bold mb-2">Soyad:</label>
            <input formControlName="lastName" type="text" id="lastName"  class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <div
            *ngIf="submitted && applicantUpdateForm.get('lastName').invalid"
            class="error-message"
          >
            <div *ngIf="applicantUpdateForm.get('lastName').hasError('required')">
              Soyadı alanı zorunludur.
            </div>
            <div *ngIf="applicantUpdateForm.get('lastName').hasError('pattern')">
              Soyadı yalnızca harflerden oluşabilir.
            </div>
            <div *ngIf="applicantUpdateForm.get('lastName').hasError('minlength')">
              Soyadı en az 2 harfli olmalı.
            </div>
          </div>
          </div>
          <div class="mb-4">
            <label for="nationalIdentity" class="block text-gray-700 text-sm font-bold mb-2">Kimlik Bilgileri:</label>
            <input formControlName="nationalIdentity" type="text" id="nationalIdentity"  class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <div
        *ngIf="submitted && applicantUpdateForm.get('nationalIdentity').invalid"
        class="error-message"
      >
        <div *ngIf="applicantUpdateForm.get('nationalIdentity').hasError('required')">
          Kimlik alanı zorunludur.
        </div>
        <div *ngIf="applicantUpdateForm.get('nationalIdentity').hasError('minlength')">
          Kimlik numarası en az 11 haneden oluşmalıdır.
        </div>
        <div *ngIf="applicantUpdateForm.get('nationalIdentity').hasError('pattern')">
          Kimlik numarası sadece sayılardan oluşabilir.
        </div>
        </div>
          </div>
          <div class="mb-4">
            <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email Adresi:</label>
            <input formControlName="email" type="text" id="email"  class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <div
            *ngIf="submitted && applicantUpdateForm.get('email').invalid"
            class="error-message"
          >
            <div *ngIf="applicantUpdateForm.get('email').hasError('required')">
              Email alanı zorunludur.
            </div>
            <div *ngIf="applicantUpdateForm.get('email').hasError('email')">
              Email alanı email formatında olmak zorundadır.
            </div>
          </div>
          </div>
          
          <div class="mb-4">
            <label for="about" class="block text-gray-700 text-sm font-bold mb-2">Hakkında:</label>
            <input formControlName="about" type="text" id="about"  class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <div
            *ngIf="submitted && applicantUpdateForm.get('about').invalid"
            class="error-message"
          >
            <div *ngIf="applicantUpdateForm.get('about').hasError('required')">
              Hakkında alanı zorunludur.
            </div>
            </div>
          </div>
          <div class="mb-4">
            <label for="dateOfBirth" class="block text-gray-700 text-sm font-bold mb-2">Doğum Tarihi:</label>
            <input formControlName="dateOfBirth" type="date" id="dateOfBirth" class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <div
        *ngIf="submitted && applicantUpdateForm.get('dateOfBirth').invalid"
        class="error-message"
          >
          <div *ngIf="applicantUpdateForm.get('dateOfBirth').hasError('required')">
            Doğum tarihi boş bırakılamaz.
          </div>
         </div>
          </div>  
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button  type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-500 text-base font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
            Güncelle
          </button>
          <button type="button" (click)="closeModal()" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
            İptal
          </button>        
        </div>
      </div>
    </div>
  </div>
</form>

 <!-- Table content -->
<div class="overflow-x-auto max-w-full">
    <table class="min-w-screen">
      <thead>
        <tr>
            <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Adayın Kullanıcı Adı</th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Adayın Adı</th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Adayın Soyadı</th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Adayın E-Mail Adresi</th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Adayın Kimlik Bilgileri</th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Adayın Doğum Tarihi</th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Hakkında</th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Güncelle</th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Sil</th>
          <th class="px-6 py-3 bg-gray-800 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Blackliste Ekle</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let applicants of applicantList.items">
            <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">{{ applicants.userName }}</td>
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200 col-span-3">{{ applicants.firstName}}</td>
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">{{ applicants.lastName }}</td>
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">{{ applicants.email }}</td>
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">{{ applicants.nationalIdentity }}</td>
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">{{ applicants.dateOfBirth | date:'shortDate' }}</td>
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">{{ applicants.about }}</td>
       
          <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
            <button (click)="openUpdateModal(applicants)" class="px-3 py-1 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
              Güncelle
            </button>
            <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
              <button (click)="delete(applicants.id)" class="px-3 py-1 bg-red-500 text-white rounded-md hover:bg-red-600 focus:outline-none focus:bg-red-600">
                Sil
              </button>
            <td class="px-6 py-4 whitespace-nowrap border-b border-gray-200">
              <button (click)="openAddModal(applicants)" class="px-3 py-1 bg-green-500 text-white rounded-md hover:bg-green-600 focus:outline-none">
                Blackliste Ekle
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

   <!-- Modal for Crate -->
   <form [formGroup]="blacklistCreateForm" (ngSubmit)="add()">
    <div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="showCreateModal">
    <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>
  
      <!-- Modal content -->
      <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="mb-4">
            <label for="reason" class="block text-gray-700 text-sm font-bold mb-2">Blackliste eklenme sebebi:</label>
            <input formControlName="reason" type="text" id="reason" class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <div
            *ngIf="submitted && blacklistCreateForm.get('reason').invalid"
            class="error-message"
              >
              <div *ngIf="blacklistCreateForm.get('reason').hasError('required')">
                Bu alan boş bırakılamaz!
              </div>
             </div>
          </div> 
          <div class="mb-4">
            <label for="date" class="block text-gray-700 text-sm font-bold mb-2">Tarih:</label>
            <input formControlName="date" type="date" id="date" class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <div
            *ngIf="submitted && blacklistCreateForm.get('date').invalid"
            class="error-message"
              >
              <div *ngIf="blacklistCreateForm.get('date').hasError('required')">
                Bu alan boş bırakılamaz!
              </div>
             </div>
          </div> 
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button  type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-500 text-base font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
            Ekle
          </button>
          <button type="button" (click)="closeModal()" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
            İptal
          </button>        
        </div>
      </div>
    </div>
  </div>
  </form>